@model PageList<WMS_Logistics>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WMS_Logistics_Filter MF = ViewData["MF"] as WMS_Logistics_Filter;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("查看更新");</script>

@if (TempData["Error"] != null)
{
    <div class="Textarea_Error">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="Textarea_Success">@TempData["Success"]</div>
}

<div class="DeductionDiv TopSearchDiv">
    <form id="MyForm" action="~/Logistics/Logistics_Search" method="get" enctype="multipart/form-data">
        <table style="width:100%;">
            <tr>
                <td style="width:100px;">
                    <select name="MatType" id="MatType" class="form-control input-sm" onchange="SubmitPageIndex(1)">
                        <option value="">类型</option>
                        @foreach (var x in MF.MatType_List)
                        {
                            if (MF.MatType == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                <td style="width:100px;padding-left:5px;">
                        <input type="text" name="Company_Code" id="Company_Code" placeholder="公司代码" value="@MF.Company_Code" class="form-control input-sm">
                </td>

                <td style="width:250px;padding-left:5px;">
                    <div class="input-group input-group-sm" style="width: 250px; ">
                        <input type="text" name="Keyword" id="Keyword" placeholder="公司名称" value="@MF.Keyword" class="form-control ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                        </div>
                    </div>
                </td>
                <td style="width:90px;padding-left:10px;"><button type="button" onclick="ShowAddNewItem()" class="btn btn-primary btn-sm"><i class="icon-plus" style="font-size:12px;"> 新增物流公司</i></button></td>

                <td style="width:50px;">&nbsp;</td>

                <td style="vertical-align:bottom;">&nbsp;</td>

                <td style="text-align:right;">
                    <input type="hidden" value="1" id="PageIndex" name="PageIndex" />
                </td>
            </tr>
        </table>
    </form>
</div>

<table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
    <thead>
        <tr>
            <th style="width:10px;">&nbsp;</th>
            <th style="width:60px;">公司代码</th>
            <th style="width:80px;">公司名称</th>
            <th style="width:60px;">类型</th>
            <th style="width:50px">&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
            {
            <tr>
                <td>&nbsp;</td>
                <td style="vertical-align:top;">@x.Company_Code</td>
                <td style="vertical-align:top;">@x.Company_Name</td>
                <td style="vertical-align:top;">@x.MatType</td>
                <td style="text-align:center"><a class="btn btn-info btn-xs" href="javascript:void(0)" onclick="ShowSetItem('@x.Log_ID')">更新</a></td>
                <td>&nbsp;</td>
            </tr>
        }
    </tbody>
</table>

<div class="MyPageFoot">
    @Html.Raw(PageComponent.MyPageNumberList(new PagePar() { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalRecord = Model.TotalRecord, TotalPage = Model.TotalPage, PageSizeList = Model.PageSize.ToString() }))
    <script>
        function SubmitSelectIndex() {
            $("#PageIndex").val($("#FootPageIndexNo").val());
            $("#MyForm").submit();
        }
        function SubmitPageIndex(PageIndex) {
            $("#PageIndex").val(PageIndex);
            $("#MyForm").submit();
        }
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable(),
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });

</script>

<!--新增-->
<script>
    function ShowAddNewItem()
    {
        ReloadAddNewItem();
        $('#MyNewModel').modal({ backdrop: 'static' });
    }

    function CloseAddNewItem() { $('#MyNewModel').modal('hide'); }

    function ReloadAddNewItem()
    {
        $("#NewContext").load("/Logistics/Logistics_Add");
    }
</script>
<div class="modal fade" id="MyNewModel">
    <div class="modal-dialog" style="width:450px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseAddNewItem()"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">新增物流公司</h5>
            </div>
            <div class="modal-body" id="NewContext"></div>
        </div>
    </div>
</div>
<!--新增-->

<!--更新-->
<script>
    function ShowSetItem(Log_ID)
    {
        ReloadSetItem(Log_ID);
        $('#MySetModel').modal({ backdrop: 'static' });
    }

    function CloseSetItem() { $('#MySetModel').modal('hide'); }

    function ReloadSetItem(Log_ID)
    {
        $("#SetContext").load("/Logistics/Logistics_Sub/" + Log_ID);
    }
</script>
<div class="modal fade" id="MySetModel">
    <div class="modal-dialog">
        <div class="modal-content" style="width:450px;">
            <div class="modal-header">
                <button type="button" class="close" onclick="CloseSetItem()"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">更新物流公司</h5>
            </div>
            <div class="modal-body" id="SetContext"></div>
        </div>
    </div>
</div>
<!--更新-->