@model PageList<WMS_Out_Pick_Scan>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WMS_Out_Filter MF = ViewData["MF"] as WMS_Out_Filter;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("配货记录");</script>

@if (TempData["Error"] != null)
{
    <div class="Textarea_Error">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="Textarea_Success">@TempData["Success"]</div>
}

<div class="DeductionDiv TopSearchDiv">
    <form id="MyForm" action="~/WMS_Out/WMS_Out_Pick_Process_Record" method="get">
        <table style="width:100%;">
            <tr>
                <td style="width:100px; text-align:left;">
                    <input type="text" class="form-control input-sm" name="Work_Down_Person" id="Work_Down_Person" value="@MF.Work_Down_Person" placeholder="作业人">
                </td>

                <td style="width:10px;padding-left:15px;">
                    <input autocomplete="off" style="width:90px;" class="form-control input-sm Time_Select" name="Time_Start" type="text" id="Time_Start" placeholder="起始时间" value="@MF.Time_Start" />
                </td>

                <td style="width:10px; text-align:center;">~</td>

                <td style="width:10px;">
                    <input autocomplete="off" style="width:90px;" class="form-control input-sm Time_Select" name="Time_End" type="text" id="Time_End" placeholder="结束时间" value="@MF.Time_End" />
                </td>

                <td style="width:120px; text-align:left;padding-left:15px;">
                    <input type="text" class="form-control input-sm" name="Location" id="Location" value="@MF.Location" placeholder="配货库位">
                </td>

                <td style="width:250px; padding-left:15px;">
                    <div class="input-group input-group-sm" style="width: 250px; ">
                        <input type="text" name="MatSn" id="MatSn" placeholder="产品型号" value="@MF.MatSn" class="form-control ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                        </div>
                    </div>
                </td>

                <td style="float:right;width:30px;">&nbsp;</td>

                <td style="text-align:right;">
                    <input type="hidden" value="1" id="PageIndex" name="PageIndex" />
                </td>
            </tr>
        </table>
    </form>
</div>

<table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
    <thead>
        <tr>
            <th style="width:10px;">&nbsp;</th>
            <th style="width:70px;">作业人</th>
            <th style="width:80px;">配货日期</th>
            <th style="width:190px;">产品型号</th>
            <th style="width:80px;">配货库位</th>
            <th style="width:70px; text-align: right;">配货数量</th>
            <th style="width:250px;">客户名称</th>
            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>&nbsp;</td>
                <td style="vertical-align:top;">@x.Scan_Person</td>
                <td style="vertical-align:top;">@x.Create_DT.ToString("yyyy-MM-dd")</td>
                <td style="vertical-align:top;"><span class="MatSn_Font">@x.MatSn</span></td>
                <td style="vertical-align:top;">@x.Scan_Location</td>
                <td style="text-align:right; vertical-align:top;">@x.Quantity.ToString("N0")</td>
                <td style="vertical-align:top;">@x.Customer</td>
                <td style="vertical-align:top;">&nbsp;</td>
            </tr>
        }
    </tbody>
</table>

<div class="MyPageFoot">
    @Html.Raw(PageComponent.MyPageNumberList(new PagePar() { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalRecord = Model.TotalRecord, TotalPage = Model.TotalPage, PageSizeList = Model.PageSize.ToString() }))
    <script>
        function SubmitSelectIndex() {
            $("#PageIndex").val($("#FootPageIndexNo").val());
            $("#MyForm").submit();
        }
        function SubmitPageIndex(PageIndex) {
            $("#PageIndex").val(PageIndex);
            $("#MyForm").submit();
        }
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable(),
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });

    $('.Time_Select').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        format: "yyyy-mm-dd",
        todayHighlight: 1,
        startView: 2,
        startDate: "2018-01-01",
        minView: 2,
        forceParse: 0
    });
</script>