@model WMS_Out_Task
@{
    Layout = null;
    WMS_Out_Filter MF = ViewData["MF"] as WMS_Out_Filter;
    ViewBag.Title = Model.Task_Bat_No_Str;
    User U = ViewData["User"] as User;

}

<!DOCTYPE html>
<html>
@Html.Partial("_JsAndCss")
<body style="background-color:white; overflow:auto; padding:20px; max-width:1024px; margin:auto;">
    @if (TempData["Error"] != null)
    {
        <div class="Textarea_Error">@TempData["Error"]</div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="Textarea_Success">@TempData["Success"]</div>
    }
    <table style="text-align:center; width:100%;" class="text-nowrap">
        <tr>
            <td style="width:10px;">&nbsp;</td>
            <td><span style="text-align:center; padding-left:150px; font-size:24px;">出 库 验 货 单</span></td>
            <td style="text-align:right; width:10px; text-align:right;"><span style="font-size:16px;">NO.</span><strong style="font-size:18px;">@Model.Task_Bat_No_Str</strong></td>
        </tr>
    </table>

    <table class="table table-bordered text-nowrap" style="width:100%;font-size:14px;margin-top:15px;">
        <tr>
            <td class="active" style="width:10px;">运输方式</td>
            <td><span>@Model.Logistics_Mode</span></td>
            <td class="active" style="width:10px;">总箱数</td>
            <td><span>@Model.Total_Cases</span></td>
            <td class="active" style="width:10px;">验货方式</td>
            <td>@Model.Scan_Mat_Type</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">产品型号</td>
            <td><strong>@Model.Line_List.Where(x => x.Quantity_Sum > 0).Count().ToString("N0")</strong> <span>项</span></td>
            <td class="active" style="width:10px;">产品数量</td>
            <td><strong>@Model.Line_List.Where(x => x.Quantity_Sum > 0).Sum(x => x.Quantity_Sum).ToString("N0")</strong></td>
            <td class="active" style="width:10px;">当前状态 </td>
            <td>@Model.Global_State</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">客户名称</td>
            <td colspan="3">@Model.Customer_Name</td>
            <td class="active" style="width:10px;">电话</td>
            <td>@Model.Customer_Tel</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">客户地址</td>
            <td colspan="5">@Model.Customer_Address</td>
        </tr>
    </table>
    <style>
        .Return_Info strong {
            font-size: 16px;
            padding-left: 5px;
            padding-right: 5px;
            color: red;
        }
    </style>

    <table style="width:100%; margin-top:-10px;" class="Table_Clean">
        <tr>
            <td class="Return_Info">@Html.Raw(MF.Return_Info)</td>
            <td>&nbsp;</td>
            <td style="width:10px;">
                <button type="button" class="btn btn-default" onclick="ReloadPage()"><span class="glyphicon glyphicon-repeat"></span> 刷新</button>
            </td>

            @if (Model.Global_State == WMS_Out_Global_State_Enum.待验货.ToString())
            {
                <td style="text-align:right; width:10px; padding-left:10px;">
                    <button type="button" class="btn btn-primary" onclick="Sent_To_WMS_Stock_Check()">已验货，保存并发送</button>
                </td>
            }
            else if (Model.Global_State == WMS_Out_Global_State_Enum.待包装.ToString())
            {
                <td style="text-align:right; width:10px; padding-left:10px;">
                    <button type="button" class="btn btn-primary" onclick="Sent_To_WMS_Stock()">已称重贴单，保存并发送</button>
                </td>
            }
            else if (Model.Global_State == WMS_Out_Global_State_Enum.待出库.ToString())
            {
                <td style="text-align:right; width:10px; padding-left:10px;">
                    @if (U.RoleTitle == User_RoleTitle_Emun.仓管主管.ToString() || U.RoleTitle == User_RoleTitle_Emun.系统管理员.ToString() || U.RoleTitle == User_RoleTitle_Emun.公司经理.ToString())
                    {
                        <button type="button" class="btn btn-primary" onclick="Sent_To_WMS_Stock_Again()">已出库，保存并发送</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" disabled>已出库，保存并发送</button>
                    }
                </td>

                <td style="text-align:right; width:10px;padding-left:10px;">
                    <a href="~/WMS_Out/WMS_Out_Task_Preview_To_PDF/@Model.Head_ID" class="btn btn-primary" target="_blank">下载出库明细</a>
                </td>
            }
            else if (Model.Global_State == WMS_Out_Global_State_Enum.已出库.ToString())
            {
                <td style="text-align:right; width:10px; padding-left:10px;">
                    <a href="~/WMS_Out/WMS_Out_Task_Preview_To_PDF/@Model.Head_ID" class="btn btn-primary" target="_blank">下载出库明细</a>
                </td>
            }
        </tr>
    </table>

    <p></p>
    <ul class="nav nav-tabs">
        <li><a href="~/WMS_Out/WMS_Out_Task_Preview/@Model.Head_ID">产品型号</a></li>
        <li class="active">
            @if (Model.Scan_Mat_Type == Scan_Mat_Type_Enum.按托.ToString())
            {
                <a href="~/WMS_Out/WMS_Out_Task_Preview_Tray/@Model.Head_ID">托盘列表</a>
            }
            else
            {
                <a href="~/WMS_Out/WMS_Out_Task_Preview_Tray/@Model.Head_ID">箱号列表</a>
            }
        </li>
        <li><a href="~/WMS_Out/WMS_Out_Task_Preview_Track/@Model.Head_ID">物流信息</a></li>
        <li><a href="~/WMS_Out/WMS_Out_Task_Preview_Source/@Model.Head_ID">原始表单</a></li>
        <li><a href="~/WMS_Out/WMS_Out_Task_Preview_Scan/@Model.Head_ID">扫描列表</a></li>

    </ul>
    <p></p>
    @foreach (var x in Model.Group_Tray_List)
    {
        if (Model.Scan_Mat_Type == Scan_Mat_Type_Enum.按托.ToString())
        {
            <a href="javascript:void(0)" class="Tray_Box" onclick="Show_Tray_Modal('@x.Tray_No')">
                <table>
                    <tr>
                        <td style="padding-top:15px; color:#175a9b;"><strong style="font-size:22px;">@x.Tray_No</strong></td>
                    </tr>
                    <tr>
                        <td style="font-size:13px; padding-top:5px;"><strong>@x.Scan_List.GroupBy(c => c.MatSn).Count().ToString("N0")</strong> 个型号</td>
                    </tr>
                </table>
            </a>
        }
        else if (Model.Scan_Mat_Type == Scan_Mat_Type_Enum.按箱.ToString())
        {
            <a href="javascript:void(0)" class="Tray_Box" onclick="Show_Box_Modal('@x.Tray_No')">
                <table>
                    <tr>
                        <td style="padding-top:15px; color:#175a9b;"><strong style="font-size:22px;">@x.Tray_No</strong></td>
                    </tr>
                    <tr>
                        <td style="font-size:13px; padding-top:5px;"><strong>@x.Scan_List.GroupBy(c => c.MatSn).Count().ToString("N0")</strong> 个型号</td>
                    </tr>
                </table>
            </a>
        }
    }

    <table class="table table-condensed" style="width:100%;font-size:14px;">
        <tr>
            <td>作业人：@Model.Work_Out_Person</td>
        </tr>
    </table>

    <script>
        function Sent_To_WMS_Stock_Check() {
            if (confirm("确认保存并发送?") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_To_WMS_Stock_Check/@Model.Head_ID", function (result) {
                if (result == "") {
                    ReloadPage();
                } else {
                    alert(result);
                }
            });
        }

        function Sent_To_WMS_Stock() {
            if (confirm("确认保存并发送?") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_To_WMS_Stock/@Model.Head_ID", function (result) {
                if (result == "") {
                    ReloadPage();
                } else {
                    alert(result);
                }
            });
        }

        function Sent_To_WMS_Stock_Again() {
            if (confirm("确认保存并发送?") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_To_WMS_Stock_Aagin/@Model.Head_ID", function (result) {
                if (result == "") {
                    ReloadPage();
                } else {
                    alert(result);
                }
            });
        }
    </script>

    <!--托盘信息-->
    <script>
        function Show_Tray_Modal(Tray_No) {
            Reload_Tray_Context(Tray_No);
            $('#Tray_Modal').modal({ backdrop: 'static' });
        }

        function Reload_Tray_Context(Tray_No) {
            var escape_Tray_No = escape(Tray_No);
            $("#Tray_Context").text("Loading...");
            $("#Tray_Context").load("/WMS_Out/WMS_Out_Task_Preview_Tray_Sub/@Model.Head_ID" + "?Tray_No=" + escape_Tray_No);
        }
    </script>
    <div class="modal fade" id="Tray_Modal">
        <div class="modal-dialog" style="width:480px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">托盘明细</h5>
                </div>
                <div class="modal-body" id="Tray_Context"></div>
            </div>
        </div>
    </div>
    <!--托盘信息-->
    <!--箱号信息-->
    <script>
        function Show_Box_Modal(Tray_No) {

            Reload_Box_Context(Tray_No);
            $('#Box_Modal').modal({ backdrop: 'static' });
        }

        function Reload_Box_Context(Tray_No) {
            var escape_Tray_No = escape(Tray_No);
            $("#Box_Context").text("Loading...");
            $("#Box_Context").load("/WMS_Out/WMS_Out_Task_Preview_Tray_Sub_Box/@Model.Head_ID" + "?Tray_No=" + escape_Tray_No);
        }
    </script>
    <div class="modal fade" id="Box_Modal">
        <div class="modal-dialog" style="width:480px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">箱号明细</h5>
                </div>
                <div class="modal-body" id="Box_Context"></div>
            </div>
        </div>
    </div>
    <!--箱号信息-->

    <script>
        function Reset_Task_Bat_Tray_No(Tray_No) {
            if (confirm("确认清空此托盘的扫码数据？") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_Tray_Sub_Reset/@Model.Head_ID", { Tray_No: Tray_No }, function (result) {
                if (result != "") {
                    alert(result);
                } else {
                    ReloadPage();
                }
            });
        }

        function Reset_Task_Bat_Tray_No_By_Box(Tray_No, Case_No) {
            if (confirm("确认清空此箱的扫码数据？") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_Tray_Sub_Reset_By_Box/@Model.Head_ID", { Tray_No: Tray_No, Case_No: Case_No }, function (result) {
                if (result != "") {
                    alert(result);
                } else {
                    ReloadPage();
                    Show_Tray_Modal(Tray_No);
                }
            });
        }

        function Reset_Task_Bat_Tray_No_Box(Tray_No) {
            if (confirm("确认清空此箱的扫码数据？") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_Tray_Sub_Reset/@Model.Head_ID", { Tray_No: Tray_No }, function (result) {
                if (result != "") {
                    alert(result);
                } else {
                    ReloadPage();
                }
            });
        }
    </script>

    <style>
        .Tray_Box {
            width: 110px;
            height: 100px;
            float: left;
            border: 1px solid #808080;
            border-bottom: 13px solid #808080;
            margin-right: 20px;
            margin-bottom: 20px;
            color: black;
        }

            .Tray_Box:hover {
                border: 1px solid #175a9b;
                border-bottom: 13px solid #175a9b;
                text-decoration: none;
            }

            .Tray_Box table {
                font-size: 16px;
                width: 100%;
            }

                .Tray_Box table td {
                    width: 100%;
                    text-align: center;
                }
    </style>

</body>
</html>
