@model WMS_Out_Task
@{
    Layout = null;
    WMS_Out_Filter MF = ViewData["MF"] as WMS_Out_Filter;
    ViewBag.Title = Model.Task_Bat_No_Str;
    User U = ViewData["User"] as User;
    int i = 0;
}

<!DOCTYPE html>
<html>
@Html.Partial("_JsAndCss")
<body style="background-color:white; overflow:auto; padding:20px; max-width:1024px; margin:auto;">
    @if (TempData["Error"] != null)
    {
        <div class="Textarea_Error">@TempData["Error"]</div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="Textarea_Success">@TempData["Success"]</div>
    }
    <table style="text-align:center; width:100%;" class="text-nowrap">
        <tr>
            <td style="width:10px;">&nbsp;</td>
            <td><span style="text-align:center; padding-left:150px; font-size:24px;">出 库 验 货 单</span></td>
            <td style="text-align:right; width:10px; text-align:right;"><span style="font-size:16px;">NO.</span><strong style="font-size:18px;">@Model.Task_Bat_No_Str</strong></td>
        </tr>
    </table>

    <table class="table table-bordered text-nowrap" style="width:100%;font-size:14px;margin-top:15px;">
        <tr>
            <td class="active" style="width:10px;">运输方式</td>
            <td><span>@Model.Logistics_Mode</span></td>
            <td class="active" style="width:10px;">总箱数</td>
            <td><span>@Model.Total_Cases</span></td>
            <td class="active" style="width:10px;">验货方式</td>
            <td>@Model.Scan_Mat_Type</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">产品型号</td>
            <td><strong>@Model.Line_List.Where(x => x.Quantity_Sum > 0).Count().ToString("N0")</strong> <span>项</span></td>
            <td class="active" style="width:10px;">产品数量</td>
            <td><strong>@Model.Line_List.Where(x => x.Quantity_Sum > 0).Sum(x => x.Quantity_Sum).ToString("N0")</strong></td>
            <td class="active" style="width:10px;">当前状态</td>
            <td>@Model.Global_State</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">客户名称</td>
            <td colspan="3">@Model.Customer_Name</td>
            <td class="active" style="width:10px;">电话</td>
            <td>@Model.Customer_Tel</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">客户地址</td>
            <td colspan="5">@Model.Customer_Address</td>
        </tr>
    </table>
    <style>
        .Return_Info strong {
            font-size: 16px;
            padding-left: 5px;
            padding-right: 5px;
            color: red;
        }
    </style>

    <table style="width:100%; margin-top:-10px;" class="Table_Clean">
        <tr>
            <td class="Return_Info">@Html.Raw(MF.Return_Info)</td>
            <td>&nbsp;</td>
            <td style="width:10px;">
                <button type="button" class="btn btn-default" onclick="ReloadPage()"><span class="glyphicon glyphicon-repeat"></span> 刷新</button>
            </td>

            @if (Model.Global_State == WMS_Out_Global_State_Enum.待验货.ToString())
            {
                <td style="text-align:right; width:10px; padding-left:10px;">
                    <button type="button" class="btn btn-primary" onclick="Sent_To_WMS_Stock_Check()">已验货，保存并发送</button>
                </td>
            }
            else if (Model.Global_State == WMS_Out_Global_State_Enum.待包装.ToString())
            {
                <td style="text-align:right; width:10px; padding-left:10px;">
                    <button type="button" class="btn btn-primary" onclick="Sent_To_WMS_Stock()">已称重贴单，保存并发送</button>
                </td>
            }
            else if (Model.Global_State == WMS_Out_Global_State_Enum.待出库.ToString())
            {
                <td style="text-align:right; width:10px; padding-left:10px;">
@if (U.RoleTitle == User_RoleTitle_Emun.仓管主管.ToString() || U.RoleTitle == User_RoleTitle_Emun.系统管理员.ToString() || U.RoleTitle == User_RoleTitle_Emun.公司经理.ToString())
{
                        <button type="button" class="btn btn-primary" onclick="Sent_To_WMS_Stock_Again()">已出库，保存并发送</button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-primary" disabled>已出库，保存并发送</button>
                    }
                </td>

                <td style="text-align:right; width:10px;padding-left:10px;">
                    <a href="~/WMS_Out/WMS_Out_Task_Preview_To_PDF/@Model.Head_ID" class="btn btn-primary" target="_blank">下载出库明细</a>
                </td>
            }
            else if (Model.Global_State == WMS_Out_Global_State_Enum.已出库.ToString())
            {
                <td style="text-align:right; width:10px; padding-left:10px;">
                    <a href="~/WMS_Out/WMS_Out_Task_Preview_To_PDF/@Model.Head_ID" class="btn btn-primary" target="_blank">下载出库明细</a>
                </td>
            }
        </tr>
    </table>

    <p></p>
    <ul class="nav nav-tabs">
        <li><a href="~/WMS_Out/WMS_Out_Task_Preview/@Model.Head_ID">产品型号</a></li>
        <li>
            @if (Model.Scan_Mat_Type == Scan_Mat_Type_Enum.按托.ToString())
            {
                <a href="~/WMS_Out/WMS_Out_Task_Preview_Tray/@Model.Head_ID">托盘列表</a>
            }
            else
            {
                <a href="~/WMS_Out/WMS_Out_Task_Preview_Tray/@Model.Head_ID">箱号列表</a>
            }
        </li>
        <li><a href="~/WMS_Out/WMS_Out_Task_Preview_Track/@Model.Head_ID">物流信息</a></li>
        <li><a href="~/WMS_Out/WMS_Out_Task_Preview_Source/@Model.Head_ID">原始表单</a></li>
        <li class="active"><a href="~/WMS_Out/WMS_Out_Task_Preview_Scan/@Model.Head_ID">扫描列表</a></li>
    </ul>
    <p></p>

    <p style="font-size:15px;">共扫描<span style="font-size:16px;font-weight:bold;padding:0px 5px">@Model.Scan_List.Count()</span> 次，扫描产品 <span style="font-size:16px;font-weight:bold;padding:0px 5px">@Model.Scan_List.Select(x => x.MatSn).Distinct().Count()</span> 项，扫描产品数量共 <span style="font-size:16px;font-weight:bold;padding:0px 5px">@Model.Scan_List.Sum(x => x.Scan_Quantity)</span></p>

    <table class="table table-bordered text-nowrap" style="width:100%;font-size:14px;">
        <tr class="active">
            <td style="width:10px;">序</td>
            <td style="width:190px;">产品型号</td>
            <td style="width:100px;">扫码数量</td>
            <td style="width:100px;">
                @if (Model.Scan_Mat_Type == Scan_Mat_Type_Enum.按托.ToString())
                {
                    <span>托盘号</span>
                }
                else
                {
                    <span>箱号</span>
                }
            </td>
            <td>&nbsp;</td>
        </tr>
        @foreach (var x in Model.Scan_List)
        {
            i++;
            <tr>
                <td>@i</td>
                <td><span class="MatSn_Font">@x.MatSn</span></td>
                <td>@x.Scan_Quantity.ToString("N0")</td>
                <td>@x.Tray_No</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4" style="padding:10px; font-weight:normal;" class="MatSn_Font">@x.Scan_Source.Trim()</td>
            </tr>
        }
    </table>

    <table class="table table-condensed" style="width:100%;font-size:14px;">
        <tr>
            <td>作业人：@Model.Work_Out_Person</td>
        </tr>
    </table>

    <script>
        function Sent_To_WMS_Stock_Check() {
            if (confirm("确认保存并发送?") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_To_WMS_Stock_Check/@Model.Head_ID", function (result) {
                if (result == "") {
                    ReloadPage();
                } else {
                    alert(result);
                }
            });
        }

        function Sent_To_WMS_Stock() {
            if (confirm("确认保存并发送?") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_To_WMS_Stock/@Model.Head_ID", function (result) {
                if (result == "") {
                    ReloadPage();
                } else {
                    alert(result);
                }
            });
        }

        function Sent_To_WMS_Stock_Again() {
            if (confirm("确认保存并发送?") == false) {
                return false;
            }

            $.post("/WMS_Out/WMS_Out_Task_Preview_To_WMS_Stock_Aagin/@Model.Head_ID", function (result) {
                if (result == "") {
                    ReloadPage();
                } else {
                    alert(result);
                }
            });
        }
    </script>

    <!--产品二维码-->
    <script>
        function Show_Mat_Label_Modal(MatSn) {
            Reload_Mat_Label_Modal_Context(MatSn);
            $('#Mat_Label_Modal_QRCode').modal({ backdrop: 'static' });
        }

        function Reload_Mat_Label_Modal_Context(MatSn) {
            $("#Mat_Label_QRCode_Context").text("Loading...");
            $("#Mat_Label_QRCode_Context").load("/WMS_Out/WMS_Out_Task_Preview_QRCode", { MatSn: MatSn });
        }
    </script>
    <div class="modal fade" id="Mat_Label_Modal_QRCode">
        <div class="modal-dialog" style="width:460px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">产品二维码</h5>
                </div>
                <div class="modal-body" id="Mat_Label_QRCode_Context"></div>
            </div>
        </div>
    </div>
    <!--产品二维码-->
</body>
</html>
