@model WMS_Out_Head
@{
    Layout = null;

    List<string> Scan_Mat_Type_List = new List<string>();
    Scan_Mat_Type_List.Add(Scan_Mat_Type_Enum.按托.ToString());
    Scan_Mat_Type_List.Add(Scan_Mat_Type_Enum.按箱.ToString());

}

<form action="~/WMS_Out/WMS_Out_Inspection_Process_Sub_Post/@Model.Head_ID" method="post" enctype="multipart/form-data" onsubmit="return validateFormByClass('NotEmpty')">
    <table class="FormTable_Sim text-nowrap">
        <tr>
            <td style="width:10px;text-align:right">验货方式</td>
            <td style="width:10px;">
                <select class="form-control input-xs Not_Empty" name="Scan_Mat_Type" id="Scan_Mat_Type" style="float:left; width:150px; margin-right:5px;">
                    <option value="">请选择</option>
                    @foreach (var x in Scan_Mat_Type_List)
                    {
                        if (Model.Scan_Mat_Type == x)
                        {
                            <option selected value="@x">@x</option>
                        }
                        else
                        {
                            <option value="@x">@x</option>
                        }
                    }
                </select>

            </td>
        </tr>

        <tr>
            <td style="width:10px;text-align:right">总箱数</td>
            <td style="width:10px;"><input class="form-control input-sm NotEmpty" id="Total_Cases" name="Total_Cases" type="number" min="0" style="width:150px;" value="@Model.Total_Cases" /></td>
        </tr>

        <tr>
            <td>&nbsp;</td>
            <td style="width:10px;">
                <button type="submit" onclick="Set_Task_Work_Person()" class="btn btn-primary btn-sm" style="width:60px;">递交</button>
            </td>
        </tr>
    </table>
</form>
