@model PageList<WMS_Out_Head>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WMS_Out_Filter MF = ViewData["MF"] as WMS_Out_Filter;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("任务创建");</script>

@if (TempData["Error"] != null)
{
    <div class="Textarea_Error">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="Textarea_Success">@TempData["Success"]</div>
}

<div class="DeductionDiv TopSearchDiv">
    <form id="MyForm" action="~/WMS_Task_In_Return/WMS_In_Return_Search_Create" method="get">
        <table style="width:100%;">
            <tr>
                <td style="width:20px;"><a href="~/WMS_Task_In_Return/WMS_In_Return_Search" class="btn btn-info btn-sm">返回</a></td>

                <td style="width:10px;padding-left:15px;">
                    <input autocomplete="off" style="width:90px;" class="form-control input-sm Time_Select" name="Time_Start" type="text" id="Time_Start" placeholder="起始时间" value="@MF.Time_Start" />
                </td>

                <td style="width:10px; text-align:center;">~</td>

                <td style="width:10px;">
                    <input autocomplete="off" style="width:90px;" class="form-control input-sm Time_Select" name="Time_End" type="text" id="Time_End" placeholder="结束时间" value="@MF.Time_End" />
                </td>

                <td style="width:100px;padding-left:5px;">
                    <select name="Logistics_Mode" id="Logistics_Mode" class="form-control input-sm" onchange="SubmitPageIndex(1)">
                        <option value="">运输方式</option>
                        @foreach (var x in MF.Logistics_Mode_List)
                        {
                            if (MF.Logistics_Mode == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                <td style="width:150px; padding-left:5px;">
                    <input type="text" name="Customer_Name" id="Customer_Name" placeholder="客户" value="@MF.Customer_Name" class="form-control input-sm">
                </td>

                <td style="width:100px; padding-left:5px;">
                    <input type="text" name="Create_Person" id="Create_Person" placeholder="创建人" value="@MF.Create_Person" class="form-control input-sm">
                </td>

                <td style="width:250px; padding-left:5px;">
                    <div class="input-group input-group-sm" style="width: 250px; ">
                        <input type="text" name="Task_Bat_No" id="Task_Bat_No" placeholder="任务编号" value="@MF.Task_Bat_No" class="form-control ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                        </div>
                    </div>
                </td>

                <td style="float:right;width:30px;">&nbsp;</td>

                <td style="text-align:right;">
                    <input type="hidden" value="1" id="PageIndex" name="PageIndex" />
                </td>
            </tr>
        </table>
    </form>
</div>

<table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
    <thead>
        <tr>
            <th style="width:10px;">&nbsp;</th>
            <th style="width:220px;">任务编号</th>
            <th style="width:70px;">创建日期</th>
            <th style="width:70px;">创建人</th>
            <th style="width:70px;">运输方式</th>
            <th style="width:200px;">客户名称</th>
            <th style="width:60px;text-align:right">品项</th>
            <th style="width:60px;text-align:right">数量</th>
            <th style="width:70px;">&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>&nbsp;</td>
                <td style="vertical-align:top;">@x.Task_Bat_No_Str</td>
                <td style="vertical-align:top;">@x.Create_DT.ToString("yyyy-MM-dd")</td>
                <td style="vertical-align:top;">@x.Create_Person</td>
                <td style="vertical-align:top;">@x.Logistics_Mode</td>
                <td style="vertical-align:top;">@x.Customer_Name</td>
                <td style="vertical-align:top;text-align:right">@x.MatSn_Count.ToString("N0")</td>
                <td style="vertical-align:top;text-align:right">@x.Quantity_Sum.ToString("N0")</td>
                <td style="vertical-align:top;text-align:center">
                    <a href="~/WMS_Task_In_Return/WMS_In_Return_Search_Create_Sub/@x.Head_ID" class="btn btn-primary btn-xs">创建</a>
                </td>
                <td>&nbsp;</td>
            </tr>
        }
    </tbody>
</table>

<div class="MyPageFoot">
    @Html.Raw(PageComponent.MyPageNumberList(new PagePar() { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalRecord = Model.TotalRecord, TotalPage = Model.TotalPage, PageSizeList = Model.PageSize.ToString() }))
    <script>
        function SubmitSelectIndex() {
            $("#PageIndex").val($("#FootPageIndexNo").val());
            $("#MyForm").submit();
        }
        function SubmitPageIndex(PageIndex) {
            $("#PageIndex").val(PageIndex);
            $("#MyForm").submit();
        }
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable(),
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });

    $('.Time_Select').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        format: "yyyy-mm-dd",
        todayHighlight: 1,
        startView: 2,
        startDate: "2018-01-01",
        minView: 2,
        forceParse: 0
    });
</script>