@model Mat_Excel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Material_Filter MF = ViewData["MF"] as Material_Filter;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("价格维护");</script>

@if(TempData["Error_Price_To_DB"] != null)
{
    <div class="Textarea_Error">@TempData["Error_Price_To_DB"]</div>
}

@if (TempData["Success_Price_To_DB"] != null)
{
    <div class="Textarea_Success">@TempData["Success_Price_To_DB"]</div>
}

<div class="DeductionDiv TopSearchDiv">
    <form id="MyForm" action="~/Material/Mat_Price_Sub_Check/@Model.MEID" method="get">
        <table style="width:100%;">
            <tr>
                <td style="width:10px;">
                    <a class="btn btn-info btn-sm" href="~/Material/Mat_Price_Sub/@Model.BID"><i class="icon-double-angle-left"></i> 返回</a>
                </td>

                <td style="width:20px; padding-left:10px;">
                    @if (Model.Is_Can_Input_Count > 0)
                    {
                        <button type="button" onclick="Excel_To_DB()" class="btn btn-primary btn-sm">确定导入 （@Model.Is_Can_Input_Count）</button>
                    }
                    else
                    {
                        <button type="button" disabled class="btn btn-default btn-sm">确定导入</button>
                    }
                </td>

                <td style="width:50px;">&nbsp;</td>

                <td style="width:130px; padding-left:5px;">
                    <select name="Excel_Mat_Status" id="Excel_Mat_Status" class="form-control input-xs" onchange="SubmitPageIndex(1)">
                        @foreach (var x in MF.Excel_Mat_Status_List.Where(x=> x!= Mat_Excel_Mat_Status_Enum.系统已有产品.ToString()))
                        {
                            if (MF.Excel_Mat_Status == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                <td style="width:140px; padding-left:5px;">
                    <input type="text" name="MatSn" id="MatSn" placeholder="产品型号" value="@MF.MatSn" class="form-control input-xs">
                </td>

                <td style="width:120px; padding-left:5px;">
                    <input type="text" name="MatName" id="MatName" placeholder="产品名称" value="@MF.MatName" class="form-control input-xs">
                </td>


                <td style="width:110px; padding-left:5px;">
                    <select name="Price_Is_AM" id="Price_Is_AM" class="form-control input-xs" onchange="SubmitPageIndex(1)">
                        <option value="">是否定价品</option>
                        @foreach (var x in MF.Price_Is_AM_List)
                        {
                            if (MF.Price_Is_AM == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                <td style="width:130px; padding-left:5px;">
                    <select name="Is_Stock" id="Is_Stock" class="form-control input-xs" onchange="SubmitPageIndex(1)">
                        <option value="">是否重点备货</option>
                        @foreach (var x in MF.Is_Stock_List)
                        {
                            if (MF.Is_Stock == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                <td style="width:100px; padding-left:5px;">
                    <input type="text" name="PC_Place" id="PC_Place" placeholder="产地" value="@MF.PC_Place" class="form-control input-xs">
                </td>


                <td style="width:80px; padding-left:5px;">
                    <input type="text" name="PC" id="PC" placeholder="PC" value="@MF.PC" class="form-control input-xs">
                </td>

                <td style="width:90px; padding-left:5px;">
                    <input type="text" name="PC_Mon_Type" id="PC_Mon_Type" placeholder="生产月" value="@MF.PC_Mon_Type" class="form-control input-xs">
                </td>

                <td style="width:90px; padding-left:5px;">
                    <input type="text" name="CODE" id="CODE" placeholder="CODE" value="@MF.CODE" class="form-control input-xs">
                </td>


                <td style="width:10px; padding-left:5px;">
                    <button class="btn btn-danger btn-sm btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                </td>

                <td style="width:50px;">&nbsp;</td>

                <td style="vertical-align:bottom;">&nbsp;</td>

                <td style="text-align:right;">
                    <input type="hidden" value="1" id="PageIndex" name="PageIndex" />
                </td>
            </tr>
        </table>
    </form>
</div>

<div class="MySetWidth">
    <table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
        <thead>
            <tr>
                <th style="width:10px;">&nbsp;</th>
                <th style="width:250px;">产品型号</th>
                <th style="width:130px;">产品名称</th>
                <th style="width:60px;">品牌</th>
                <th style="width:70px; text-align:right;">AM定价</th>
                <th style="width:60px; text-align:right;">折扣率</th>
                <th style="width:80px; text-align:right;">未税契约单价</th>
                <th style="width:60px; text-align:right;">未税目标进价</th>
                <th style="width:60px; text-align:right;">含税参考进价</th>
                <th style="width:60px; text-align:right;">零售价 %</th>
                <th style="width:60px; text-align:right;">批发价1 %</th>
                <th style="width:60px; text-align:right;">批发价2 %</th>
                <th style="width:60px; text-align:right;">不含税价 %</th>
                <th style="width:60px; text-align:center;">重点备货</th>
                <th style="width:70px;">产地</th>
                <th style="width:70px;">PC</th>
                <th style="width:70px;">生产月</th>
                <th style="width:70px;">CODE</th>
                <th style="width:80px;">订货窗口</th>
                <th style="width:80px; text-align:right;">未税订货价格</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Mat_Excel_Line_PageList.Rows)
            {
                <tr>
                    <td>&nbsp;</td>
                    <td style="vertical-align:top;">
                        @if (x.MatID == Guid.Empty)
                        {
                            <span class="MatSn_Font" style="color:red;">@x.MatSn</span>
                        }
                        else if (x.MatID != Guid.Empty && x.Is_Input == 1)
                        {
                            <span class="MatSn_Font" style="color:green;">@x.MatSn</span>
                        }
                        else
                        {
                            <span class="MatSn_Font">@x.MatSn</span>
                        }
                    </td>
                    <td style="vertical-align:top;">@x.MatName</td>
                    <td style="vertical-align:top;">@x.MatBrand</td>
                    <td style="vertical-align:top; text-align:right;">
                        @if (x.Price_AM > 0)
                        {
                            <span>@x.Price_AM.ToString("0.0000")</span>
                        }
                        else
                        {
                            <span style="color:silver">n.a</span>
                        }
                    </td>

                    <td style="vertical-align:top; text-align:right;">
                        @if (x.Price_AM > 0)
                        {
                            <span>@x.Price_AM_Rate.ToString("0.0")</span>
                        }
                        else
                        {
                            <span style="color:silver">n.a</span>
                        }
                    </td>

                    <td style="vertical-align:top; text-align:right;">
                        @if (x.Price_AM <= 0)
                        {
                            <span>@x.Price_Cost_Ref.ToString("0.00")</span>
                        }
                        else
                        {
                            <span style="color:silver">n.a</span>
                        }
                    </td>

                    <td style="vertical-align:top; text-align:right;">@x.Price_Cost_Target.ToString("0.0000")</td>
                    <td style="vertical-align:top; text-align:right; color:blue;">@x.Price_Cost_Ref_Vat.ToString("0.0000")</td>
                    <td style="vertical-align:top; text-align:right;">@x.Price_Retail_Rate.ToString("0.000")</td>
                    <td style="vertical-align:top; text-align:right;">@x.Price_Trade_A_Rate.ToString("0.000")</td>
                    <td style="vertical-align:top; text-align:right;">@x.Price_Trade_B_Rate.ToString("0.000")</td>
                    <td style="vertical-align:top; text-align:right;">@x.Price_Trade_NoTax_Rate.ToString("0.000")</td>
                    <td style="vertical-align:top; text-align:center;">
                        @if (x.Is_Stock == 1)
                        {
                            <span>是</span>
                        }
                        else
                        {
                            <span style="color:silver">否</span>
                        }
                    </td>
                    <td style="vertical-align:top;">@x.PC_Place</td>
                    <td style="vertical-align:top;">@x.PC</td>
                    <td style="vertical-align:top;">@x.PC_Mon_Type</td>
                    <td style="vertical-align:top;">@x.CODE</td>
                    <td style="vertical-align:top;">@x.CODE_Order_Window</td>
                    <td style="vertical-align:top; text-align:right;">@x.CODE_Order_Price.ToString("0.0000")</td>
                    <td style="vertical-align:top;">&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<div class="MyPageFoot">
    @Html.Raw(PageComponent.MyPageNumberList(new PagePar() { PageIndex = Model.Mat_Excel_Line_PageList.PageIndex, PageSize = Model.Mat_Excel_Line_PageList.PageSize, TotalRecord = Model.Mat_Excel_Line_PageList.TotalRecord, TotalPage = Model.Mat_Excel_Line_PageList.TotalPage, PageSizeList = Model.Mat_Excel_Line_PageList.PageSize.ToString() }))
    <script>
        function SubmitSelectIndex() {
            $("#PageIndex").val($("#FootPageIndexNo").val());
            $("#MyForm").submit();
        }
        function SubmitPageIndex(PageIndex) {
            $("#PageIndex").val(PageIndex);
            $("#MyForm").submit();
        }
    </script>
</div>


<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable(),
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });
</script>





<!--导入Excel-->
<script>
    function Show_Load_Model() {
        $('#My_Load_Model').modal({ backdrop: 'static' });
    }

    function Close_Load_Model() {
        $('#My_Load_Model').modal('hide');
    }

    function Excel_To_DB() {
        if (confirm("确定导入？")) {
            DisAndEnabledBtn(1);
            Show_Load_Model();
            $("#ToDB_Form").submit();
        }
    }
</script>

<form id="ToDB_Form" action="~/Material/Mat_Price_Sub_Check_Post/@Model.MEID" method="post"></form>
<div class="modal fade" id="My_Load_Model">
    <div class="modal-dialog">
        <div class="modal-content" style="width:380px;">
            <div class="modal-body">
                <div style="margin:auto; text-align:center; padding-top:20px;">
                    <img src="~/Content/Images/Load.gif" /><br /><br />
                    <span style="padding-left:5px; color:blue;">正在更新产品价格数据，请稍后...</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!--导入Excel-->