@model WMS_In_Line
@{
    Layout = null;
    string MatSn = ViewData["MatSn"].ToString();
    int MatSn_Length_Max = 0;
    int MatSn_Length_Min = 0;
}

<table class="FormTable_Sim FormTable_Sim_Input text-nowrap" style="width:100%;">
    <tr>
        <th style="text-align:right; width:10px; vertical-align:top;"><div style="width:50px; overflow:hidden; padding-top:5px;">到货型号</div></th>
        <td style="padding-bottom:10px;" class="MatSn_Font">
            @if (Model.MatBrand == "NSK")
            {
                MatSn_Length_Max = 27;
                MatSn_Length_Min = 27;
                <input class="NotEmpty" name="MatSn" id="MatSn" value="@MatSn" style="width:250px; font-size:14px;" maxlength="@MatSn_Length_Max" onchange="Check_MatSn_Code('@MatSn_Length_Min','@MatSn_Length_Max')" />
                    <table style="width:400px;">
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            @for (int j = 1; j <= MatSn_Length_Max; j++)
                            {
                                <td style="padding:0px"><input class="MyInput MatSn_Code" id="MatSn_Code_@j" onchange="Check_MatSn_Code_Box()" maxlength="1" style="text-align:center; padding:0px; width:25px; border:1px solid #bababa;" value="" /></td>
                                if (j == 18 || j == 20 || j == 22)
                                {
                                    <td>&nbsp;</td>
                                }
                            }
                        </tr>

                        <tr>
                            @for (int j = 1; j <= MatSn_Length_Max; j++)
                            {
                                <td style="padding:0px; text-align:center; color:#686868;">@j</td>
                                if (j == 18 || j == 20 || j == 22)
                                {
                                    <td>&nbsp;</td>
                                }
                            }
                        </tr>
                    </table>
            }
            else
            {
                MatSn_Length_Max = 30;
                MatSn_Length_Min = 1;
                <input class="NotEmpty" name="MatSn" id="MatSn" value="@MatSn" style="width:250px; font-size:14px;" maxlength="@MatSn_Length_Max" onchange="Check_MatSn_Code('@MatSn_Length_Min', '@MatSn_Length_Max')" />
                    <table style="width:400px;">
                        <tr>
                            <td></td>
                        </tr>
                        <tr>
                            @for (int j = 1; j <= MatSn_Length_Max; j++)
                            {
                                <td style="padding:0px"><input class="MyInput MatSn_Code" id="MatSn_Code_@j" onchange="Check_MatSn_Code_Box()" maxlength="1" style="text-align:center; padding:0px; width:25px; border:1px solid #bababa;" value="" /></td>
                            }
                        </tr>

                        <tr>
                            @for (int j = 1; j <= MatSn_Length_Max; j++)
                            {
                                <td style="padding:0px; text-align:center; color:#686868;">@j</td>
                            }
                        </tr>
                    </table>
            }
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td>
            <button class="btn btn-primary btn-sm" onclick="Update_MatSn()">递交</button>
        </td>
    </tr>
</table>

<!--产品型号-->
<script>
    function Check_MatSn_Code(MatSn_Length_Max, MatSn_Length_Min) {
        var MatSn = $("#MatSn").val();
        MatSn = $.trim(MatSn);
        $("#MatSn").val(MatSn);

        var MatSn_Sub = "";
        var MatSn_Length_Min = parseInt(MatSn_Length_Min);
        var MatSn_Length_Max = parseInt(MatSn_Length_Max);
        $('.MatSn_Code').each(function (i) {
            MatSn_Sub = MatSn.charAt(i);

            if (MatSn_Sub == " " || MatSn_Sub == "") {
                $(this).css("backgroundColor", "#FFF");
            } else {
                $(this).css("backgroundColor", "#96FED1");
            }

            if (MatSn_Sub == "" && MatSn_Length_Min == MatSn_Length_Max && i == MatSn_Length_Max - 1) {
                $(this).css("backgroundColor", "yellow");
            }

            $(this).val($.trim(MatSn_Sub));
        });
    }

    function Check_MatSn_Code_Box() {
        var MatSn = "";
        var MatSn_Sub = "";
        $('.MatSn_Code').each(function (i) {
            MatSn_Sub = $(this).val();
            if (MatSn_Sub == "") { MatSn_Sub = " "; }
            MatSn = MatSn + MatSn_Sub;
        });

        MatSn = $.trim(MatSn);
        $("#MatSn").val(MatSn);
        Check_MatSn_Code();
    }

    function Update_MatSn() {
        var MatSn = $("#MatSn").val();
        $.post("/WMS_In/WMS_In_Operate_Preview_Diff_Sub_Post/@Model.Line_ID", { MatSn: MatSn }, function (result) {
            if (result == "") {
                ReloadPage();
            } else {
                alert(result);
            }
        });
    }

</script>
<!--产品型号-->