@model WMS_In_Task
@{
    Layout = null;
    WMS_In_Filter MF = ViewData["MF"] as WMS_In_Filter;
    ViewBag.Title = Model.Task_Bat_No_Str;
    User U = ViewData["User"] as User;

}

<!DOCTYPE html>
<html>
@Html.Partial("_JsAndCss")

<body style="background-color:white; overflow:auto; padding:20px; max-width:1024px; margin:auto;">
    @if (TempData["Error"] != null)
    {
        <div class="Textarea_Error">@TempData["Error"]</div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="Textarea_Success">@TempData["Success"]</div>
    }
    <table style="text-align:center; width:100%;" class="text-nowrap">
        <tr>
            <td style="width:10px;">&nbsp;</td>
            <td><span style="text-align:center; padding-left:150px; font-size:24px;">收 货 任 务 单</span></td>
            <td style="text-align:right; width:10px; text-align:right;"><span style="font-size:16px;">NO.</span><strong style="font-size:18px;">@Model.Task_Bat_No_Str</strong></td>
        </tr>
    </table>

    <table class="table table-bordered text-nowrap" style="width:100%;font-size:14px;margin-top:15px;">
        <tr>
            <td class="active" style="width:10px;">任务类型</td>
            <td>@Model.MatType</td>
            <td class="active" style="width:10px;">品牌</td>
            <td>@Model.Brand</td>
            <td class="active" style="width:10px;">收货方式</td>
            <td>@Model.Scan_Mat_Type</td>
            <td class="active" style="width:10px;">物流公司</td>
            <td>@Model.Logistics_Company</td>
            <td class="active" style="width:10px;">运输方式</td>
            <td><span>@Model.Logistics_Mode</span><span>，</span><span>@Model.Logistics_Cost_Type</span></td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">上传人</td>
            <td>@Model.Create_Person</td>
            <td class="active" style="width:10px;">产品型号</td>
            <td><strong>@Model.Line_List.Where(x => x.Quantity_Sum > 0).Count().ToString("N0")</strong> <span>项</span></td>
            <td class="active" style="width:10px;">产品数量</td>
            <td><strong>@Model.Line_List.Where(x => x.Quantity_Sum > 0).Sum(x => x.Quantity_Sum).ToString("N0")</strong></td>
            <td class="active" style="width:10px;">当前状态</td>
            <td>@Model.Global_State</td>
            <td class="active" style="width:10px;">供应商</td>
            <td>@Model.Supplier_Name</td>
        </tr>
    </table>


    <style>
        .Return_Info strong {
            font-size: 16px;
            padding-left: 5px;
            padding-right: 5px;
            color: red;
        }
    </style>
    <table style="width:100%; margin-top:-10px;" class="Table_Clean">
        <tr>
            <td class="Return_Info">@Html.Raw(MF.Return_Info)</td>
            <td>&nbsp;</td>
            <td style="width:10px;">
                <button type="button" class="btn btn-default" onclick="ReloadPage()"><span class="glyphicon glyphicon-repeat"></span> 刷新</button>
            </td>
            <td style="text-align:right; width:10px; padding-left:10px;">
                @if (Model.Global_State == WMS_In_Global_State_Enum.等待收货.ToString())
                {
                    <button type="button" class="btn btn-primary" onclick="Sent_To_WMS_Stock()">完成扫码，保存并发送</button>
                }
                else if (Model.Global_State == WMS_In_Global_State_Enum.通知采购.ToString())
                {
                    <button type="button" class="btn btn-primary" onclick="Sent_To_WMS_Stock()">采购已复核，进入库存</button>
                }
                else if (Model.Global_State == WMS_In_Global_State_Enum.完成入库.ToString())
                {
                    <a href="~/WMS_In/WMS_In_Operate_Preview_To_Excel/@Model.Head_ID" class="btn btn-primary" target="_blank">导出收货明细</a>
                }
            </td>
           
        </tr>
    </table>

    <p></p>
    <ul class="nav nav-tabs">
        <li><a href="~/WMS_In/WMS_In_Operate_Preview/@Model.Head_ID">产品型号</a></li>
        <li>
            <a href="~/WMS_In/WMS_In_Operate_Preview_Tray/@Model.Head_ID">
                @if (Model.Scan_Mat_Type == Scan_Mat_Type_Enum.按托.ToString())
                {
                    <span>托盘列表</span>
                }
                else if (Model.Scan_Mat_Type == Scan_Mat_Type_Enum.按箱.ToString())
                {
                    <span>箱号列表</span>
                }
            </a>
        </li>
        <li class="active"><a href="~/WMS_In/WMS_In_Operate_Preview_Track/@Model.Head_ID">物流信息</a></li>
        <li><a href="~/WMS_In/WMS_In_Operate_Preview_Source/@Model.Head_ID">原始表单</a></li>
        <li><a href="~/WMS_In/WMS_In_Operate_Preview_Diff/@Model.Head_ID">差异型号</a></li>
        <li><a href="~/WMS_In/WMS_In_Operate_Preview_Scan/@Model.Head_ID">扫描列表</a></li>

    </ul>
    <p></p>

    @if (Model.Logistics_Cost_Type == Logistics_Cost_Type_Enum.有快递.ToString())
    {
        <table class="table table-bordered text-nowrap" style="width:100%;font-size:14px;">
            <tr class="active">
                <td style="width:190px;">运单编号</td>
                <td style="width:70px; text-align:right;">金额</td>
                <td>&nbsp;</td>
            </tr>
            @foreach (var x in Model.Track_List)
            {
                <tr>
                    <td>@x.Tracking_No</td>
                    <td style="text-align:right;">@x.Logistics_Cost.ToString("N2")</td>
                    <td>&nbsp;</td>
                </tr>
            }

            <tr>
                <td style="text-align:right;">Total</td>
                <td style="text-align:right;"><strong>@Model.Track_List.Sum(x => x.Logistics_Cost).ToString("N2")</strong></td>
                <td>&nbsp;</td>
            </tr>
        </table>
    }
    
    @if (Model.Logistics_Mode == Logistics_Mode_Enum.自提.ToString())
    {
        <table style="width:100%;font-size:14px;margin-bottom:10px;">
            <tr>
                <td>
                    @if (Model.Global_State== WMS_In_Global_State_Enum.完成入库.ToString())
                    {
                        <button class="btn btn-primary btn-sm" disabled">新增车辆信息</button>
                    }
                    else
                    {
                        <button class="btn btn-primary btn-sm" onclick="Add_New_Track()">新增车辆信息</button>
                    }

                </td>
            </tr>
        </table>

        <table class="table table-bordered text-nowrap" style="width:100%;font-size:14px;">
            <tr class="active">
                <td style="width:190px;">车牌号</td>
                <td style="width:70px; text-align:right;">金额</td>
                <td style="width:70px; text-align:right;">公里数</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            @foreach (var x in Model.Track_List)
            {
                <tr>
                    <td>@x.Tracking_No</td>
                    <td style="text-align:right;">@x.Logistics_Cost.ToString("N2")</td>
                    <td style="text-align:right;">@x.Kilometers.ToString("N2")</td>
                    <td style="width:60px;text-align:center">
                        @if (Model.Global_State == WMS_In_Global_State_Enum.完成入库.ToString())
                        {
                            <button class="btn btn-info btn-xs" disabled>更新</button>
                        }
                        else
                        {
                            <button class="btn btn-info btn-xs" onclick="ShowSetItem('@x.Tracking_ID')">更新</button>
                        }
                    </td>
                    <td>&nbsp;</td>
                </tr>
            }

            <tr>
                <td style="text-align:right;">Total</td>
                <td style="text-align:right;"><strong>@Model.Track_List.Sum(x => x.Logistics_Cost).ToString("N2")</strong></td>
                <td style="text-align:right;">@Model.Track_List.Sum(x => x.Kilometers).ToString("N2")</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    }

    <table class="table table-condensed" style="width:100%;font-size:14px;">
        <tr>
            <td>作业人：@Model.Work_Person</td>
        </tr>
    </table>

    <script>
        function Sent_To_WMS_Stock() {
            if (confirm("确认保存并发送?") == false) {
                return false;
            }

            $.post("/WMS_In/WMS_In_Operate_Preview_To_WMS_Stock/@Model.Head_ID", function (result) {
                if (result == "") {
                    ReloadPage();
                } else {
                    alert(result);
                }
            });
        }
    </script>

    <!--新增-->
    <script>
        function Add_New_Track() {
            Reload_New_Track();
            $('#MyAddModal').modal({ backdrop: 'static' });
        }

        function Close_New_Track() { $('#MyAddModal').modal('hide'); }

        function Reload_New_Track() {
            $("#AddContext").load("/WMS_In/WMS_In_Operate_Track_Add/@Model.Head_ID");
        }
    </script>
    <div class="modal fade" id="MyAddModal">
        <div class="modal-dialog">
            <div class="modal-content" style="width:350px;">
                <div class="modal-header">
                    <button type="button" class="close" onclick="Close_New_Track()"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">新增物流费用</h5>
                </div>
                <div class="modal-body" id="AddContext"></div>
            </div>
        </div>
    </div>
    <!--新增-->

    <!--更新-->
    <script>
    function ShowSetItem(Tracking_ID)
    {
        ReloadSetItem(Tracking_ID);
        $('#MySetModel').modal({ backdrop: 'static' });
    }

    function CloseSetItem() { $('#MySetModel').modal('hide'); }

    function ReloadSetItem(Tracking_ID)
    {
        $("#SetContext").load("/WMS_In/WMS_In_Operate_Track_Sub/" + Tracking_ID);
    }
    </script>
    <div class="modal fade" id="MySetModel">
        <div class="modal-dialog">
            <div class="modal-content" style="width:350px;">
                <div class="modal-header">
                    <button type="button" class="close" onclick="CloseSetItem()"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">更新物流费用</h5>
                </div>
                <div class="modal-body" id="SetContext"></div>
            </div>
        </div>
    </div>
    <!--更新-->
</body>
</html>
