@model Customer_Group
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    Customer_Filter MF = ViewData["MF"] as Customer_Filter;
    List<Customer> List = ViewData["List"] as List<Customer>;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("集团管理");</script>

@if (TempData["Success"] != null)
{
    <div class="Textarea_Success">@TempData["Success"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="Textarea_Error">@TempData["Error"]</div>
}

<div id="RightDivContext">
    <h6 style="padding-left:40px;padding-top:20px;"><strong>基本信息</strong></h6>
    <form id="SubmitForm" action="~/Customer/Cu_Update_Group_Sub_Post/@Model.GID" method="post" enctype="multipart/form-data">
        <table class="FormTable_Sim FormTable_Sim_Input text-nowrap" style="width:400px;margin-left:30px;">
            <tr>
                <td style="text-align:right;">* 集团代码</td>
                <td><input class="form-control input-sm NotEmpty" id="Group_Code" name="Group_Code" type="text" style="width:190px;" value="@Model.Group_Code" /></td>

                <td style="text-align:right;">* 集团名称</td>
                <td><input class="form-control input-sm NotEmpty" id="Group_Name" name="Group_Name" type="text" style="width:190px;" value="@Model.Group_Name" /></td>
            </tr>
       
            <tr>
                <td>&nbsp;</td>
                <td colspan="3" style="padding-top:10px;">
                    <button type="button" onclick="Delete_Customer_Group_Item()" class="btn btn-danger btn-sm">删除集团</button>
                    <button style="margin-left:10px;" type="button" onclick="SubmitForm()" class="btn btn-primary btn-sm">递交更新</button>
                </td>
            </tr>
        </table>
    </form>

    <h6 style="padding-left:40px;padding-top:10px;"><strong>关联客户</strong></h6>
    <table id="DataTable" class="ListTable table table-nowrap table-bordered" style="width:600px;margin-left:40px;">
        <thead>
            <tr>
                <th style="width:80px;">客户代码</th>
                <th style="width:350px;">客户名称</th>
                <th style="width:60px;">&nbsp;</th>
            </tr>
        </thead>
         
        <tbody>
            @foreach (var x in Model.Cust_List)
            {
                <tr>
                    <td>@x.Cust_Code</td>
                    <td>@x.Cust_Name</td>  
                    <td style="text-align:center"><button class="btn btn-danger btn-xs" onclick="Delete_Customer_From_Group('@x.CID')">解除</button></td>
                </tr>
            }
        </tbody>

    </table>

    <div class="TopSearchDiv">
        <h6 style="padding-left:20px;"><strong>客户列表</strong></h6>
        <form id="SubmitForm" action="~/Customer/Cu_Update_Group_Sub/@Model.GID" method="post" enctype="multipart/form-data">
            <table style="width:300px;margin-left:20px;">
                <tr>
                    <td style="width:150px;">
                        <input type="text" name="Cust_Name_Or_Code" id="Cust_Name_Or_Code" placeholder="客户代码、名称关键字" value="@MF.Cust_Name_Or_Code" class="form-control input-xs">
                    </td>
                    <td style="width:10px; padding-left:5px;">
                        <button class="btn btn-danger btn-sm btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <table class="ListTable table table-nowrap table-bordered" style="width:600px;margin-left:40px;margin-top:10px;">
        <thead>
            <tr>
                <th style="width:80px;">客户代码</th>
                <th style="width:350px;">客户名称</th>
                <th style="width:60px;">&nbsp;</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var x in List)
            {
                <tr>
                    <td>@x.Cust_Code</td>
                    <td>@x.Cust_Name</td>
                    <td style="text-align:center"><button class="btn btn-info btn-xs" onclick="Add_Customer_To_Group('@x.CID')">添加</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function SubmitForm() {
        if (validateFormByClass('NotEmpty') == false) { return false; }
        DisAndEnabledBtn(1);
        $("#SubmitForm").submit();
    }

    function Add_Customer_To_Group(CID) {
        var GID = "@Model.GID";
        $.post("/Customer/Add_Customer_To_Group_Post/" + CID, { GID: GID }, function (result) {
            if (result == "") {
                ReloadPage();
            } else {
                alert(result);
            }
        });
    }

    function Delete_Customer_From_Group(CID) {
        $.post("/Customer/Delete_Customer_From_Group_Post/" + CID, function (result) {
            if (result == "") {
                ReloadPage();
            } else {
                alert(result);
            }
        });
    }
</script>

<!--集团删除-->
<form id="Delete_Customer_Group" action="~/Customer/Cu_Update_Group_Sub_Delete_Post/@Model.GID" method="post">
    <script>
        function Delete_Customer_Group_Item()
        {
            if(confirm("确认删除该集团？"))
            {
                $("#Delete_Customer_Group").submit();
            }
        }
    </script>
</form>
<!--集团删除-->