@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string List_Str = string.Empty;
    List<WMS_Track_Info> List = new List<WMS_Track_Info>();
    if (TempData["Success"] != null)
    {
        List_Str = TempData["Success"].ToString();
        List = Newtonsoft.Json.JsonConvert.DeserializeObject<List<WMS_Track_Info>>(List_Str);
    }
    int i = 0;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("信息导入");</script>

@if (TempData["Error"] != null)
{
    <div class="Textarea_Error">@TempData["Error"]</div>
}

<form id="MyCreateForm" action="~/WMS_Track_Info/WMS_Track_Info_Upload_Finish_Post" method="post" enctype="multipart/form-data">
    <div class="DeductionDiv TopSearchDiv">
        <table style="width:100%;">
            <tr>
                @if (List.Any())
                {
                    <td style="padding-left:5px;">
                        <button type="button" onclick="Create_WMS_Task_In_Return()" class="btn btn-primary btn-sm">确认递交</button>
                    </td>
                }
               
                <td>
                    <input type="hidden" name="List" value="@List_Str"/>
                </td>
                <td style="text-align:right">
                    <button type="button" style="margin-right:10px;" class="btn btn-default btn-sm" onclick="Batch_Upload_Info()">
                    <i class="icon-plus"></i>
                        上传EXCEL
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
        <thead>
            <tr>
                <th style="width:10px;">&nbsp;</th>
                <th style="width:30px;">序</th>
                <th style="width:50px;">寄件人</th>
                <th style="width:70px;">寄件人手机</th>
                <th style="width:70px;">寄件人座机</th>
                <th style="width:70px;">寄件地址</th>
                <th style="width:50px;">收件人</th>
                <th style="width:70px;">收件人手机</th>
                <th style="width:70px;">收件人座机</th>
                <th style="width:70px;">收件地址</th>
                <th style="width:60px;">物品信息</th>
                <th style="width:60px;">快递公司</th>
                <th style="width:70px;">网点</th>
                <th style="width:70px;">物流单号</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in List)
            {
                i++;
                <tr>
                    <td>&nbsp;</td>
                    <td style="vertical-align:top">@i</td>
                    <td style="vertical-align:top">@x.Sender_Name</td>
                    <td style="vertical-align:top">@x.Sender_Phone</td>
                    <td style="vertical-align:top">@x.Sender_Tel</td>
                    <td style="vertical-align:top" title="@x.Sender_Address">@x.Sender_Address</td>
                    <td style="vertical-align:top">@x.Receiver_Name</td>
                    <td style="vertical-align:top">@x.Receiver_Phone</td>
                    <td style="vertical-align:top">@x.Receiver_Tel</td>
                    <td style="vertical-align:top" title="@x.Receiver_Address">@x.Receiver_Address</td>
                    <td style="vertical-align:top">@x.Item_Info</td>
                    <td style="vertical-align:top">@x.Logistics_Company</td>
                    <td style="vertical-align:top" title="@x.Logistics_Company_Loc">@x.Logistics_Company_Loc</td>
                    <td style="vertical-align:top">@x.Tracking_No</td>
                    <td>&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>

</form>

<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable(),
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });
</script>

<script>
    function Create_WMS_Task_In_Return() {
        if (confirm("确认递交导入快递资料？") == false) {
            return false;
        }

        $("#MyCreateForm").submit();
        DisAndEnabledBtn(1);
    }
</script>

<!--导入Excel-->
<script>
    function Batch_Upload_Info() {
        $('#Upload_Modal').modal({ backdrop: 'static' });
    }

    function Close_Upload_Modal() {
        $('#Upload_Modal').modal('hide');
    }
</script>
<div class="modal fade" id="Upload_Modal">
    <div class="modal-dialog">
        <div class="modal-content" style="width:480px;">
            <div class="modal-header">
                <button type="button" class="close" onclick="Close_Upload_Modal()"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title">批量导入</h5>
            </div>
            <div class="modal-body">
                <form id="Upload_Form" action="~/WMS_Track_Info/WMS_Track_Info_Upload_Post" method="post" enctype="multipart/form-data">
                    <table style="width:100%; border:1px solid silver;">
                        <tr id="Upload_TR">
                            <td style="width:100px; padding:10px;">
                                <input type="file" onchange="ShowFileName()" data-val="true" name="ExcelFile" id="ExcelFile" />
                                <script>
                                    function Check_Upload() {
                                        if ($("#ExcelFile").val() == "") {
                                            alert("请选择Excel文件");
                                            return false;
                                        }

                                        DisAndEnabledBtn(1);
                                        Show_Load();
                                        $("#Upload_Form").submit();
                                    }

                                    function Show_Load() {
                                        $("#LoadImg").show();
                                        $("#Upload_Form").hide();
                                    }
                                </script>
                            </td>

                            <td id="UpLoad" style="padding:10px;vertical-align:bottom;">
                                <button type="button" class="btn btn-info btn-sm" onclick="Check_Upload()">保存并发送</button>
                            </td>
                        </tr>
                    </table>
                </form>

                <div style="padding-top:15px; line-height:20px;">
                    1. Excel单元格不能含有公式，单元格设为文本格式，文件小于4M<br />
                    2. 每次上传最大支持10000条信息！<br />
                    3. 请选择正确的Excel上传！
                </div>

                <div style="width:100%; padding-top:10px; text-align:center; display:none; margin:auto;" id="LoadImg">
                    <img src="~/Content/Images/Load.gif" /><br /><br />
                    <span style="padding-left:5px; color:blue;">系统正在上传和检查Excel数据，请稍后...</span>
                </div>

                <p></p>

            </div>
        </div>
    </div>
</div>
<!--导入Excel-->

