@model WMS_Track_Info
@{
    Layout = null;
}
<table class="table table-bordered text-nowrap" style="width:100%;margin-top:10px;">
    <tr>
        <td class="active">物流单号</td>
        <td>@Model.Tracking_No</td>
        <td class="active">出库单编号</td>
        <td>@Model.WMS_Out_Task_No</td>
    </tr>
    <tr>
        <td class="active">快递公司</td>
        <td>@Model.Logistics_Company</td>
        <td class="active">网点</td>
        <td>@Model.Logistics_Company_Loc</td>
    </tr>
    <tr>
        <td class="active">寄件人</td>
        <td>@Model.Sender_Name</td>
        <td class="active">收件人</td>
        <td>@Model.Receiver_Name</td>
    </tr>
    <tr>
        <td class="active">收件人手机</td>
        <td>@Model.Receiver_Phone</td>
        <td class="active">收件人座机</td>
        <td>@Model.Receiver_Tel</td>
    </tr>
    <tr>
        <td class="active">收件人地址</td>
        <td colspan="3">@Model.Receiver_Address</td>
    </tr>

</table>
