@model WMS_Out_Head
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WMS_Out_Filter MF = ViewData["MF"] as WMS_Out_Filter;
    List<WMS_In_Line> Line_List = ViewData["Line_List"] as List<WMS_In_Line>;
    int i = 0;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("任务创建");</script>

@if (TempData["Error"] != null)
{
    <div class="Textarea_Error">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="Textarea_Success">@TempData["Success"]</div>
}

<form id="MyCreateForm" action="~/WMS_Task_Out_Return/WMS_Out_Return_Search_Update_Post/@Model.Head_ID" method="post" enctype="multipart/form-data">

    <div style="margin:15px;">
        <table class="FormTable_Sim text-nowrap" style="width:450px;font-size:14px;">
            <tr>
                <td style="width:10px;">退货供应商</td>
                <td colspan="3">
                    <input class="form-control input-xs Not_Empty" readonly name="Customer_Name" type="text" id="Customer_Name" value="@Model.Customer_Name" />
                </td>
            </tr>
            <tr>
                <td style="width:10px;">送货时间</td>
                <td>
                    <input autocomplete="off" style="width:135px;" class="form-control input-xs Time_Select Not_Empty" name="Out_DT" type="text" id="Out_DT" value="@Model.Out_DT_Str" />
                </td>

                <td style="width:10px;">运输方式</td>
                <td style="width:135px;">
                    <select class="form-control input-xs Not_Empty" name="Logistics_Mode" id="Logistics_Mode" onchange="Change_Logistics_Mode()">
                        <option value="">请选择</option>
                        @foreach (var x in MF.Logistics_Mode_List)
                        {
                            if (x == Model.Logistics_Mode)
                            {
                                <option selected value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td style="width:10px;">退货理由</td>
                <td colspan="3">
                    <input class="form-control input-xs Not_Empty" name="Return_Remark" type="text" id="Return_Remark" value="@Model.Return_Remark" />
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <button type="button" onclick="Create_WMS_Task_Out_Return()" class="btn btn-primary btn-sm">递交创建</button>
                </td>
                <td>&nbsp;</td>
                <td>
                    <a href="~/WMS_Task_Out_Return/WMS_Out_Return_Search" style="float:right" class="btn btn-info btn-sm">返回</a>
                </td>
            </tr>
        </table>
    </div>

    <table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
        <thead>
            <tr>
                <th style="width:10px;">&nbsp;</th>
                <th style="width:40px; text-align:center; padding:0px;"><input type="checkbox" id="ALL" onclick="checkBoxCheckAll('ALL', 'MatSn')" /></th>
                <th style="width:40px;">序</th>
                <th style="width:250px;">产品型号</th>
                <th style="width:100px; text-align:center;">数量</th>
                <th style="width:80px; text-align:right;">单价</th>
                <th style="width:100px;">备注</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Line_List)
            {
                i++;
                <tr>
                    <td>&nbsp;</td>
                    <td style="text-align:center;">
                        @if (x.Quantity != 0)
                        {
                            <input type="checkbox" checked value="@x.MatSn" name="MatSn" class="MatSn" id="MatSn_@x.MatSn" />
                        }
                        else
                        {
                            <input type="checkbox" value="@x.MatSn" name="MatSn" class="MatSn" id="MatSn_@x.MatSn" />
                        }
                    </td>
                    <td>@i</td>
                    <td>
                        <strong class="MatSn_Font">@x.MatSn</strong>
                    </td>
                    <td style="text-align:center;">
                        @if (x.Quantity != 0)
                        {
                            <input type="number" class="form-control input-xs" min="1" value="@x.Quantity" max="@x.Max_Quantity" id="Quantity_@x.MatSn" name="Quantity_@x.MatSn" style="width:100px;text-align:center;" onchange="Change_Qty_Num(this,'@x.Max_Quantity')" />
                        }
                        else
                        {
                            <input type="number" class="form-control input-xs" min="1" value="@x.Max_Quantity" max="@x.Max_Quantity" id="Quantity_@x.MatSn" name="Quantity_@x.MatSn" style="width:100px;text-align:center;" onchange="Change_Qty_Num(this,'@x.Max_Quantity')" />
                        }
                    </td>
                    <td style="text-align:right">@x.Price_Cost.ToString("N2")</td>
                    <td>
                        @if (x.Quantity != 0)
                        {
                            <span>默认退货型号 </span>
                        }
                    </td>
                    <td>&nbsp;</td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable() - 200,
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });

    $('.Time_Select').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        format: "yyyy-mm-dd",
        todayHighlight: 1,
        startView: 2,
        startDate: "2018-01-01",
        minView: 2,
        forceParse: 0
    });

    function Change_Qty_Num(Obj, Qty) {
        var Qty_Line = parseInt($(Obj).val());
        if (Qty_Line > Qty) {
            $(Obj).val(Qty);
        } else if (Qty_Line < 1) {
            $(Obj).val(1);
        }
    }

    function Create_WMS_Task_Out_Return() {
        if (validateFormByClass("Not_Empty") == false) {
            return false;
        }

        if (checkBoxCheckLength("MatSn") <= 0) {
            alert("请选择产品项！");
            return false;
        }

        if (confirm("确认递交创建退货单？") == false) {
            return false;
        }

        $("#MyCreateForm").submit();
        DisAndEnabledBtn(1);
    }
</script>

