@model WMS_Out_Task
@{
    Layout = null;
    WMS_Out_Filter MF = ViewData["MF"] as WMS_Out_Filter;
    ViewBag.Title = Model.Task_Bat_No_Str;
    User U = ViewData["User"] as User;
}

<!DOCTYPE html>
<html>
@Html.Partial("_JsAndCss")
<body style="background-color:white; overflow:auto; padding:20px; max-width:1024px; margin:auto;">
    @if (TempData["Error"] != null)
    {
        <div class="Textarea_Error">@TempData["Error"]</div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="Textarea_Success">@TempData["Success"]</div>
    }
    <table style="text-align:center; width:100%;" class="text-nowrap">
        <tr>
            <td style="width:10px;">&nbsp;</td>
            <td><span style="text-align:center; padding-left:150px; font-size:24px;">出 库 验 货 单</span></td>
            <td style="text-align:right; width:10px; text-align:right;"><span style="font-size:16px;">NO.</span><strong style="font-size:18px;">@Model.Task_Bat_No_Str</strong></td>
        </tr>
    </table>

    <table class="table table-bordered text-nowrap" style="width:100%;font-size:14px;margin-top:15px;">
        <tr>
            <td class="active" style="width:10px;">运输方式</td>
            <td><span>@Model.Logistics_Mode</span></td>
            <td class="active" style="width:10px;">总箱数</td>
            <td><span>@Model.Total_Cases</span></td>
            <td class="active" style="width:10px;">验货方式</td>
            <td>@Model.Scan_Mat_Type</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">产品型号</td>
            <td><strong>@Model.Line_List.Where(x => x.Quantity_Sum > 0).Count().ToString("N0")</strong> <span>项</span></td>
            <td class="active" style="width:10px;">产品数量</td>
            <td><strong>@Model.Line_List.Where(x => x.Quantity_Sum > 0).Sum(x => x.Quantity_Sum).ToString("N0")</strong></td>
            <td class="active" style="width:10px;">当前状态</td>
            <td>@Model.Global_State</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">客户名称</td>
            <td colspan="3">@Model.Customer_Name</td>
            <td class="active" style="width:10px;">电话</td>
            <td>@Model.Customer_Tel</td>
        </tr>
        <tr>
            <td class="active" style="width:10px;">客户地址</td>
            <td colspan="5">@Model.Customer_Address</td>
        </tr>
    </table>
    <style>
        .Return_Info strong {
            font-size: 16px;
            padding-left: 5px;
            padding-right: 5px;
            color: red;
        }
    </style>

    <table style="width:100%; margin-top:-10px;" class="Table_Clean">
        <tr>
            <td class="Return_Info">@Html.Raw(MF.Return_Info)</td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <p></p>
    <ul class="nav nav-tabs">
        <li class="active"><a href="~/WMS_Task_Out/WMS_Out_Task_Preview/@Model.Head_ID">产品型号</a></li>
    </ul>
    <p></p>
    <p style="font-size:15px;">共扫描<span style="font-size:16px;font-weight:bold;padding:0px 5px">@Model.Scan_List.Count()</span> 次，扫描产品 <span style="font-size:16px;font-weight:bold;padding:0px 5px">@Model.Scan_List.Select(x => x.MatSn).Distinct().Count()</span> 项，扫描产品数量共 <span style="font-size:16px;font-weight:bold;padding:0px 5px">@Model.Scan_List.Sum(x => x.Scan_Quantity)</span></p>

    <table class="table table-bordered text-nowrap" style="width:100%;font-size:14px;">
        <tr class="active">
            <td style="width:190px;">产品型号</td>
            <td style="width:70px;text-align:right">扫码复核</td>
            <td style="width:70px;text-align:right">差异数量</td>
            <td>当前状态</td>
        </tr>

        @foreach (var x in Model.Line_List.Where(x => x.Line_State == WMS_Out_Task_Line_State_Enum.多出型号.ToString()).ToList())
        {
            <tr>
                <td><span class="MatSn_Font">@x.MatSn</span></td>
                <td style="text-align:right">@x.Quantity_Sum_Scan.ToString("N0")</td>
                <td>&nbsp;</td>
                <td style="color:silver">@x.Line_State</td>
            </tr>
        }

        @foreach (var x in Model.Line_List.Where(x => x.Line_State == WMS_Out_Task_Line_State_Enum.超出出货.ToString()).ToList())
        {
            <tr>
                <td><span class="MatSn_Font">@x.MatSn</span></td>
                <td style="text-align:right">@x.Quantity_Sum_Scan.ToString("N0")</td>
                <td>&nbsp;</td>
                <td style="color:red">@x.Line_State</td>
            </tr>
        }

        @foreach (var x in Model.Line_List.Where(x => x.Line_State == WMS_Out_Task_Line_State_Enum.低于出货.ToString()).ToList())
        {
            <tr>
                <td><span class="MatSn_Font">@x.MatSn</span></td>
                <td style="text-align:right">@x.Quantity_Sum_Scan.ToString("N0")</td>
                <td>&nbsp;</td>
                <td style="color:orange">@x.Line_State</td>
            </tr>
        }

        @foreach (var x in Model.Line_List.Where(x => x.Line_State == WMS_Out_Task_Line_State_Enum.还未扫码.ToString()).ToList())
        {
            <tr>
                <td><span class="MatSn_Font">@x.MatSn</span></td>
                <td style="text-align:right">@x.Quantity_Sum_Scan.ToString("N0")</td>
                <td>&nbsp;</td>
                <td style="color:silver">@x.Line_State</td>
            </tr>
        }

        @foreach (var x in Model.Line_List.Where(x => x.Line_State == WMS_Out_Task_Line_State_Enum.数量一致.ToString()).ToList())
        {
            <tr>
                <td><span class="MatSn_Font">@x.MatSn</span></td>
                <td style="text-align:right">@x.Quantity_Sum_Scan.ToString("N0")</td>
                <td>&nbsp;</td>
                <td style="color:green">@x.Line_State</td>
            </tr>
        }
    </table>

    <table class="table table-condensed" style="width:100%;font-size:14px;">
        <tr>
            <td>作业人：@Model.Work_Out_Person</td>
        </tr>
    </table>

</body>
</html>
