@model List<WMS_Stock_Group>
@{
    Layout = null;
    WMS_Stock_Filter MF = ViewData["MF"] as WMS_Stock_Filter;
}

<table style="width:100%;">
    <tr>
        <td><h4>库位：<strong style="font-size:22px;">@MF.Location</strong></h4></td>
        <td>&nbsp;</td>
        <td style="text-align:right">
            <button type="button" onclick="Create_Move_Task('@MF.Location')" class="btn btn-primary btn-sm">创建移库任务</button>
        </td>
    </tr>
</table>

<table class="table table-bordered text-nowrap" style="width:100%">
    <tr class="active">
        <td style="width:190px;">产品型号</td>
        <td style="text-align:right;width:80px;">数量</td>
        <td style="text-align:right;width:80px;">装箱数</td>
        <td>推荐移库合并库位</td>
    </tr>
    @foreach (var x in Model.OrderBy(c => c.MatSn).ToList())
    {
        <tr>
            <td class="MatSn_Font">@x.MatSn</td>
            <td style="text-align:right">@x.Quantity_Sum.ToString("N0")</td>
            <td style="text-align:right">@x.Pack_Qty.ToString("N0")</td>
            <td>
                @foreach (var xx in x.Loc_List.Take(5))
                {
                    <span>@xx</span><span>，</span>
                }
            </td>
        </tr>
    }

</table>

<script>
    function Create_Move_Task(Location) {
        if (confirm("确认创建移库任务？") == false) {
            return false;
        }

        $.post("/WMS_Stock/WMS_Move_Recommend_Sub_Create_Post/" + Location, function (result) {
            if (result == "") {
                alert("移库任务创建成功");
            } else {
                alert(result);
            }
        });
    }
</script>