@model PageList<WMS_Profit_Loss_Head>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WMS_Profit_Loss_Filter MF = ViewData["MF"] as WMS_Profit_Loss_Filter;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("审核记录");</script>

@if (TempData["Error"] != null)
{
    <div class="Textarea_Error">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="Textarea_Success">@TempData["Success"]</div>
}

<div class="DeductionDiv TopSearchDiv">
    <form id="MyForm" action="~/WMS_Profit_Loss/WMS_Profit_Loss_Task_Record" method="get">
        <table style="width:100%;">
            <tr>
                <td style="width:100px">
                    <select name="Status" id="Status" class="form-control input-sm" onchange="SubmitPageIndex(1)">
                        <option value="">任务状态</option>
                        @foreach (var x in MF.Status_List.Where(x => x == WMS_Profit_Loss_Head_Status_Enum.已执行.ToString() || x == WMS_Profit_Loss_Head_Status_Enum.已退回.ToString()))
                        {
                            if (MF.Status == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                <td style="width:100px;padding-left:5px;">
                    <input type="text" name="Create_Person" id="Create_Person" placeholder="申请人" value="@MF.Create_Person" class="form-control input-sm">
                </td>

                <td style="width:250px; padding-left:5px;">
                    <div class="input-group input-group-sm" style="width: 250px; ">
                        <input type="text" name="Task_No_Str" id="Task_No_Str" placeholder="任务编号" value="@MF.Task_No_Str" class="form-control ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                        </div>
                    </div>
                </td>

                <td style="float:right;width:30px;">&nbsp;</td>

                <td style="text-align:right;">
                    <input type="hidden" value="1" id="PageIndex" name="PageIndex" />
                </td>

            </tr>
        </table>
    </form>
</div>

<table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
    <thead>
        <tr>
            <th style="width:10px;">&nbsp;</th>
            <th style="width:220px;">任务编号</th>
            <th style="width:70px;">申请日期</th>
            <th style="width:70px;">申请人</th>
            <th style="width:60px;text-align:right">品项</th>
            <th style="width:70px;">状态</th>
            <th style="width:70px;">&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
        {
            <tr>
                <td>&nbsp;</td>
                <td style="vertical-align:top;">@x.Task_Bat_No_Str</td>
                <td style="vertical-align:top;">@x.Create_DT.ToString("yyyy-MM-dd")</td>
                <td style="vertical-align:top;">@x.Create_Person</td>
                <td style="vertical-align:top;text-align:right">@x.MatSn_Count.ToString("N0")</td>
                <td style="vertical-align:top;">@x.Status</td>
                <td style="vertical-align:top;text-align:center">
                     <a href="~/WMS_Profit_Loss/WMS_Profit_Loss_Task_Record_Preview/@x.Head_ID" class="btn btn-primary btn-xs">查看</a>
                <td>&nbsp;</td>
            </tr>
        }
    </tbody>
</table>

<div class="MyPageFoot">
    @Html.Raw(PageComponent.MyPageNumberList(new PagePar() { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalRecord = Model.TotalRecord, TotalPage = Model.TotalPage, PageSizeList = Model.PageSize.ToString() }))
    <script>
        function SubmitSelectIndex() {
            $("#PageIndex").val($("#FootPageIndexNo").val());
            $("#MyForm").submit();
        }
        function SubmitPageIndex(PageIndex) {
            $("#PageIndex").val(PageIndex);
            $("#MyForm").submit();
        }
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable(),
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });
</script>
