@model PageList<Material>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Material_Filter MF = ViewData["MF"] as Material_Filter;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("产品更新");</script>

@if (TempData["Success_Delete"] != null)
{
    <div class="Textarea_Success">@TempData["Success_Delete"]</div>
}

<div class="DeductionDiv TopSearchDiv">
    <form id="MyForm" action="~/MaterialTemp/Mat_Update" method="get">
        <table style="width:100%;">
            <tr>
                <td style="width:150px;">
                    <input type="text" name="Other_MatSn" id="Other_MatSn" placeholder="产品代号" value="@MF.Other_MatSn" class="form-control input-xs">
                </td>

                <td style="width:150px;padding-left:5px;">
                    <input type="text" name="MatSn" id="MatSn" placeholder="产品型号" value="@MF.MatSn" class="form-control input-xs">
                </td>

                <td style="width:120px; padding-left:5px;">
                    <input type="text" name="MatName" id="MatName" placeholder="产品名称" value="@MF.MatName" class="form-control input-xs">
                </td>

                <td style="width:100px; padding-left:5px;">
                    <select name="MatBrand" id="MatBrand" class="form-control input-xs" onchange="SubmitPageIndex(1)">
                        <option value="">选择品牌</option>
                        @foreach (var x in MF.BrandList)
                        {
                            if (MF.MatBrand == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                
                <td style="width:10px; padding-left:5px;">
                    <button class="btn btn-danger btn-sm btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                </td>

                <td style="width:50px;">&nbsp;</td>

                <td style="vertical-align:bottom;">&nbsp;</td>

                <td style="text-align:right;">
                    <input type="hidden" value="1" id="PageIndex" name="PageIndex" />
                </td>
            </tr>
        </table>
    </form>
</div>

<table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
    <thead>
        <tr>
            <th style="width:10px;">&nbsp;</th>
            <th style="width:50px;">&nbsp;</th>
            <th style="width:220px;">产品代号</th>
            <th style="width:220px;">产品型号</th>
            <th style="width:120px;">产品名称</th>
            <th style="width:80px;">品牌</th>
            <th style="width:100px;text-align:right">装箱数</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Rows)
            {
            <tr>
                <td>&nbsp;</td>
                <td style="vertical-align:top; text-align:center;"><a class="btn btn-info btn-xs btn-xs-clean" href="~/MaterialTemp/Mat_Update_Sub/@x.MatID">更新</a></td>
                <td style="vertical-align:top;"><span class="MatSn_Font">@x.Other_MatSn</span></td>
                <td style="vertical-align:top;"><span class="MatSn_Font">@x.MatSn</span></td>
                <td style="vertical-align:top;">@x.MatName</td>
                <td style="vertical-align:top;">@x.MatBrand</td>
                <td style="vertical-align:top;text-align:right">@x.Pack_Qty</td>
                <td>&nbsp;</td>

            </tr>
        }
    </tbody>
</table>

<div class="MyPageFoot">
    @Html.Raw(PageComponent.MyPageNumberList(new PagePar() { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalRecord = Model.TotalRecord, TotalPage = Model.TotalPage, PageSizeList = Model.PageSize.ToString() }))
    <script>
        function SubmitSelectIndex() {
            $("#PageIndex").val($("#FootPageIndexNo").val());
            $("#MyForm").submit();
        }
        function SubmitPageIndex(PageIndex) {
            $("#PageIndex").val(PageIndex);
            $("#MyForm").submit();
        }
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable(),
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });
</script>
