@model Material
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}
@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("产品更新");</script>

@if(TempData["Error_Delete"] != null)
{
    <div class="Textarea_Error">@TempData["Error_Delete"]</div>
}

<div id="RightDivContext">
    <form id="MyMatItem_Form" action="~/MaterialTemp/Mat_Update_Sub_Post/@Model.MatID" method="post" style="padding:20px;">
        <div id="Part_Page_Context" style="overflow:hidden;">
            <h6 style="padding-left:40px;"><strong>基本信息</strong></h6>

            <table class="FormTable_Sim FormTable_Sim_Input text-nowrap" style="width:400px;">
                <tr>
                    <th style="text-align:right; width:10px; vertical-align:top;"><div style="width:75px; overflow:hidden; padding-top:5px;">* 产品型号</div></th>
                    <td style="padding-bottom:10px;" class="MatSn_Font">
                        <input class="NotEmpty" name="MatSn" id="MatSn" value="@Model.MatSn" style="width:250px; font-size:14px;" maxlength="@Model.MatSn_Length_Max" onchange="Check_MatSn_Code()" />
                        <table style="width:400px;">
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                @for (int j = 1; j <= Model.MatSn_Length_Max; j++)
                                {
                                    <td style="padding:0px"><input class="MyInput MatSn_Code" id="MatSn_Code_@j" onchange="Check_MatSn_Code_Box()" maxlength="1" style="text-align:center; padding:0px; width:25px; border:1px solid #bababa;" value="" /></td>
                                    if ((j == 18 || j == 20 || j == 22))
                                    {
                                        <td>&nbsp;</td>
                                    }
                                }
                            </tr>

                            <tr>
                                @for (int j = 1; j <= Model.MatSn_Length_Max; j++)
                                {
                                    <td style="padding:0px; text-align:center; color:#686868;">@j</td>
                                    if (j == 18 || j == 20 || j == 22)
                                    {
                                        <td>&nbsp;</td>
                                    }
                                }
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <table class="FormTable_Sim FormTable_Sim_Input text-nowrap" style="width:400px;">
                <tr>
                    <th style="text-align:right; width:10px;"><div style="width:75px; overflow:hidden;">*产品名称</div></th>
                    <td>
                        <select class="form-control input-sm" id="MatName" name="MatName" style="width:150px;" type="text">
                            @foreach (var x in Model.Mat_Name_List)
                            {
                                if (Model.MatName == x.ToString())
                                {
                                    <option selected value="@x">@x</option>
                                }
                                else
                                {
                                    <option value="@x">@x</option>
                                }
                            }
                        </select>
                    </td>

                    <th style="text-align:right;">* 品　牌</th>
                    <td>
                        <input class="form-control input-sm" readonly="readonly" name="MatBrand" id="MatBrand" style="width:120px;" type="text" value="@Model.MatBrand" />
                        <input class="form-control input-sm" readonly="readonly" name="Link_BID" id="Link_BID" style="width:120px;" type="hidden" value="@Model.Link_BID" />
                    </td>
                    <th style="text-align:right;">装箱数</th>
                    <td><input class="form-control input-sm" style="width:100px; text-align:center;" name="Pack_Qty" id="Pack_Qty" type="number" value="@Model.Pack_Qty" /></td>

                </tr>

                <tr>
                    <th style="text-align:right; width:10px; vertical-align:top;"><div style="width:75px; overflow:hidden; padding-top:5px;">产品代号</div></th>
                    <td style="padding-bottom:10px;" class="MatSn_Font">
                        <input autocomplete="off" name="Other_MatSn" id="Other_MatSn" value="@Model.Other_MatSn" style="width:250px; font-size:14px;" />
                    </td>
                </tr>
            </table>
        </div>

        <p></p>
        <table class="FormTable_Sim FormTable_Sim_Input text-nowrap" style="width:400px;">
            <tr>
                <th style="text-align:right; width:10px;"><div style="width:50px; overflow:hidden;">&nbsp;</div></th>
                <td>
                    <table style="margin-left:20px;">
                        <tr>
                            <td style="padding:0px;"><button type="button" onclick="DeleteMatItem()" class="btn btn-danger btn-sm" style="width:100px;">删除产品</button></td>
                            <td style="padding:0px; padding-left:10px;"><button type="button" onclick="MyMatItem_FormSubmit()" class="btn btn-primary btn-sm" style="width:100px;">递交更新</button></td>
                        </tr>
                    </table>

                </td>
            </tr>
        </table>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </form>
</div>

<!--产品型号-->

<script>
    $(function () {
        Check_MatSn_Code();
    });
</script>

<script>
    function Check_MatSn_Code() {
        var MatSn = $("#MatSn").val();
        MatSn = $.trim(MatSn);
        $("#MatSn").val(MatSn);

        var MatSn_Sub = "";
        var MatSn_Length_Min = parseInt("@Model.MatSn_Length_Min");
        var MatSn_Length_Max = parseInt("@Model.MatSn_Length_Max");
        $('.MatSn_Code').each(function (i) {
            MatSn_Sub = MatSn.charAt(i);

            if (MatSn_Sub == " " || MatSn_Sub == "") {
                $(this).css("backgroundColor", "#FFF");
            } else {
                $(this).css("backgroundColor", "#96FED1");
            }

            if (MatSn_Sub == "" && MatSn_Length_Min == MatSn_Length_Max && i == MatSn_Length_Max - 1) {
                $(this).css("backgroundColor", "yellow");
            }

            $(this).val($.trim(MatSn_Sub));
        });
    }

    function Check_MatSn_Code_Box() {
        var MatSn = "";
        var MatSn_Sub = "";
        $('.MatSn_Code').each(function (i) {
            MatSn_Sub = $(this).val();
            if (MatSn_Sub == "") { MatSn_Sub = " "; }
            MatSn = MatSn + MatSn_Sub;
        });

        MatSn = $.trim(MatSn);
        $("#MatSn").val(MatSn);
        Check_MatSn_Code();
    }


</script>
<!--产品型号-->

<script>
    function MyMatItem_FormSubmit() {
        if ($("#MatSn").val() == "") {
            alert("请填写产品型号");
            return false;
        }


        if (validateFormByClass('NotEmpty') == false) { return false; }
        DisAndEnabledBtn(1);

        var FormObj = $("#MyMatItem_Form");
        var Url = $(FormObj).prop("action");
        var PostData = $(FormObj).serialize();

        $("#Update_Check_Div").hide();
        $("#Update_Pass_Div").hide();
        $("#Update_Check_Div").show();
        Show_Success_Model();

        $.post(Url, PostData, function (result) {
            if (result == "") {
                DisAndEnabledBtn(0);
                $("#Update_Check_Div").toggle();
                $("#Update_Pass_Div").toggle();
                setTimeout("BackList_And_Time()", 2000);
            } else {
                alert(result);
                Close_Success_Model();
                DisAndEnabledBtn(0);
            }
        });
    }
</script>


<!--更新成功-->
<script>
    function Show_Success_Model() {
        $('#MySuccessModel').modal({ backdrop: 'static' });
    }

    function Close_Success_Model()
    {
        $('#MySuccessModel').modal('hide');
    }

    function BackList_And_Time()
    {
        var time;
        time = $("#time").text();
        time = parseInt(time);
        time--;

        if (time <= 0) {
            window.location.href = "/MaterialTemp/Mat_Update";
        } else {
            $("#time").text(time);
            setTimeout(BackList_And_Time, 1000);
        }
    }
</script>
<div class="modal fade" id="MySuccessModel">
    <div class="modal-dialog">
        <div class="modal-content" style="width:480px;">
            <div class="modal-header">
                <h5 class="modal-title">系统提示</h5>
            </div>
            <div class="modal-body">
                <div id="Update_Check_Div" style="display:none;">
                    <h2 style="text-align:center;">
                        <img src="~/Content/Images/Load.gif" />
                    </h2>
                    <h6 style="text-align:center;">正在更新产品数据...</h6>
                </div>

                <div id="Update_Pass_Div" style="display:none;">
                    <h4 style="text-align:center; color:green;">更新成功！</h4>
                    <p style="text-align:center;"><span id="time" style="font-weight:bold; font-size:14px;">3</span> 秒后自动返回列表...</p>
                    <table style="margin:auto;">
                        <tr>
                            <td><a href="~/Material/Mat_Update" class="btn btn-info" onclick="">返回列表</a></td>
                            <td style="padding-left:15px;"><button class="btn btn-default" type="button" onclick="ReloadPage()">留在此页</button></td>
                        </tr>
                    </table>
                </div>

                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
<!--更新成功-->


<!--删除-->
<form id="DeletForm" action="~/MaterialTemp/Mat_Update_Sub_Delete/@Model.MatID" method="post">
    <script>
        function DeleteMatItem() {
            if (confirm("确认删除？") == true) {
                $("#DeletForm").submit();
            }
        }
    </script>
</form>
<!--删除-->
