@model PageList<WMS_Location>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WMS_Location_Filter MF = ViewData["MF"] as WMS_Location_Filter;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("库位查询");</script>

<div class="DeductionDiv TopSearchDiv">
    <form id="MyForm" action="~/WMS_Loc/Loc_Search" method="get" enctype="multipart/form-data">
        <table style="width:100%;">
            <tr>
                <td style="width:100px;">
                    <select name="Type" id="Type" class="form-control input-sm" onchange="SubmitPageIndex(1)">
                        <option value="">库位类型</option>
                        @foreach (var x in MF.Type_Enum_List)
                        {
                            if (MF.Type == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                <td style="width:120px;padding-left:5px">
                    <select name="Link_MatSn_Count" id="Link_MatSn_Count" class="form-control input-sm" onchange="SubmitPageIndex(1)">
                        <option value="">关联型号数</option>
                        @foreach (var x in MF.Link_MatSn_Count_Enum_List)
                        {
                            if (MF.Link_MatSn_Count == x)
                            {
                                <option selected="selected" value="@x">@x</option>
                            }
                            else
                            {
                                <option value="@x">@x</option>
                            }
                        }
                    </select>
                </td>

                <td style="width:250px;padding-left:5px">
                    <div class="input-group input-group-sm" style="width: 250px; ">
                        <input type="text" name="Keyword" id="Keyword" placeholder="库位编号" value="@MF.Keyword" class="form-control ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                        </div>
                    </div>
                </td>

                <td style="width:10px;padding-left:15px;">
                    <button type="button" onclick="Print_Location()" class="btn btn-primary btn-sm">批量打印</button>
                </td>

                <td style="vertical-align:bottom;">&nbsp;</td>

                <td style="text-align:right;">
                    <input type="hidden" value="1" id="PageIndex" name="PageIndex" />
                </td>
            </tr>
        </table>
    </form>
</div>
<form id="PrintForm" action="~/WMS_Loc/Loc_Search_Print" method="post">

    <table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
        <thead>
            <tr>
                <th style="width:10px;">&nbsp;</th>
                <th style="width:40px; text-align:center; padding:0px;"><input checked type="checkbox" id="ALL" onclick="checkBoxCheckAll('ALL', 'Loc_ID')" /></th>
                <th style="width:80px;">库位编号</th>
                <th style="width:80px;">类型</th>
                <th style="width:80px;">关联型号数</th>
                <th style="width:80px;">备注</th>
                <th style="width:80px;"></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.Rows)
            {
            <tr>
                <td>&nbsp;</td>
                <td style="text-align:center;"><input type="checkbox" checked value="@x.Loc_ID" name="Loc_ID" class="Loc_ID" id="Loc_ID_@x.Loc_ID" /></td>
                <td style="vertical-align:top;">
                    <a href="javascript:void(0)" onclick="Show_QRCode_Madal('@x.Loc_ID')">@x.Location</a>
                </td>
                <td style="vertical-align:top;">@x.Type</td>
                <td style="vertical-align:top;">@x.Link_MatSn_Count</td>
                <td style="vertical-align:top;">@x.Remark</td>
                <td style="vertical-align:top;text-align:center">
                    <a href="~/WMS_Loc/Loc_Preview_Label_To_PDF/@x.Loc_ID" target="_blank" class="btn btn-default btn-xs">标签打印</a>
                </td>
                <td>&nbsp;</td>
            </tr>
            }
        </tbody>
    </table>
</form>
    <div class="MyPageFoot">
        @Html.Raw(PageComponent.MyPageNumberList(new PagePar() { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalRecord = Model.TotalRecord, TotalPage = Model.TotalPage, PageSizeList = Model.PageSize.ToString() }))
        <script>
            function SubmitSelectIndex() {
                $("#PageIndex").val($("#FootPageIndexNo").val());
                $("#MyForm").submit();
            }
            function SubmitPageIndex(PageIndex) {
                $("#PageIndex").val(PageIndex);
                $("#MyForm").submit();
            }
        </script>
    </div>

    <script>
        $(document).ready(function () {
            $('#DataTable').dataTable({
                searching: false,
                paging: false,
                info: false,
                scrollY: FixHeightValue_DataTable(),
                scrollX: true,
                language: {
                    url: "/Scripts/dataTables/Localisation/Chinese.json"
                }
            });
        });

        function Print_Location() {
            if (checkBoxCheckLength("Loc_ID") <= 0) {
                alert("请选择库位标签！");
                return false;
            }

            $("#PrintForm").submit();
        }
    </script>

    <!--二维码查看-->
    <!--二维码查看-->
    <script>
        function Show_QRCode_Madal(Loc_ID) {
            Reload_QRCode_Madal(Loc_ID);
            $('#MyQRCodeModal').modal({ backdrop: 'static' });
        }

        function Close_QRCode_Madal() { $('#MyQRCodeModal').modal('hide'); }

        function Reload_QRCode_Madal(Loc_ID) {
            $("#QRCodeContext").load("/WMS_Loc/QRCode_Preview/" + Loc_ID);
        }
    </script>
    <div class="modal fade" id="MyQRCodeModal">
        <div class="modal-dialog" style="width:250px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" onclick="Close_QRCode_Madal()"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" id="QRCodeContext" style="margin:auto;text-align:center"></div>
            </div>
        </div>
    </div>
    <!--二维码查看-->

