@model PageList<WMS_Profit_Loss_Other>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    WMS_Stock_Filter MF = ViewData["MF"] as WMS_Stock_Filter;
    User U = ViewData["User"] as User;
}

@{Html.RenderPartial("_TopMenu");}
<script>TopMenuToAction("动盘盈亏核验");</script>

@if (TempData["Error"] != null)
{
    <div class="Textarea_Error">@TempData["Error"]</div>
}

@if (TempData["Success"] != null)
{
    <div class="Textarea_Success">@TempData["Success"]</div>
}

<div class="DeductionDiv TopSearchDiv">
    <form id="MyForm" action="~/WMS_Out_Stocktaking/WMS_Profit_Or_Loss_Other_Check" method="get">
        <table style="width:100%;">
            <tr>
                <td style="width:100px; text-align:left;">
                    <input type="text" class="form-control input-sm" name="Work_Person" id="Work_Person" value="@MF.Work_Person" placeholder="作业人">
                </td>

                <td style="width:10px;padding-left:5px;">
                    <input autocomplete="off" style="width:90px;" class="form-control input-sm Time_Select" name="Time_Start" type="text" id="Time_Start" placeholder="起始时间" value="@MF.Time_Start" />
                </td>

                <td style="width:10px; text-align:center;">~</td>

                <td style="width:10px;">
                    <input autocomplete="off" style="width:90px;" class="form-control input-sm Time_Select" name="Time_End" type="text" id="Time_End" placeholder="结束时间" value="@MF.Time_End" />
                </td>

                <td style="width:120px; text-align:left;padding-left:5px;">
                    <input type="text" class="form-control input-sm" name="Location" id="Location" value="@MF.Location" placeholder="动盘库位">
                </td>

                <td style="width:250px; padding-left:5px;">
                    <div class="input-group input-group-sm" style="width: 250px; ">
                        <input type="text" name="MatSn" id="MatSn" placeholder="产品型号" value="@MF.MatSn" class="form-control ">
                        <div class="input-group-btn">
                            <button class="btn btn-danger btn-search" type="submit"><span class="glyphicon glyphicon-search"></span> 查询</button>
                        </div>
                    </div>
                </td>

                <td style="float:right;width:30px;">&nbsp;</td>

                <td style="text-align:right;">
                    <input type="hidden" value="1" id="PageIndex" name="PageIndex" />
                </td>
            </tr>
        </table>
    </form>
</div>

<table id="DataTable" class="ListTable table table-nowrap" style="width:100%;">
    <thead>
        <tr>
            <th style="width:10px;">&nbsp;</th>
            <th style="width:70px;">作业人</th>
            <th style="width:80px;">调整日期</th>
            <th style="width:250px;">产品型号</th>
            <th style="width:80px;">品牌</th>
            <th style="width:80px;">库位</th>
            <th style="width:70px; text-align: right;">调整前</th>
            <th style="width:70px; text-align: right;">调整后</th>
            <th style="width:70px; text-align: right;">差异数</th>
            <th style="width:70px; text-align: right;">差异金额</th>
            @if (U.RoleTitle == User_RoleTitle_Emun.公司经理.ToString() || U.RoleTitle == User_RoleTitle_Emun.仓管主管.ToString() || U.RoleTitle == User_RoleTitle_Emun.系统管理员.ToString())
            {
                <th style="width:70px;">&nbsp;</th>
            }

            <th>&nbsp;</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var x in Model.Rows)
        {
            x.Diff_Quantity = x.New_Quantity - x.Old_Quantity;
            x.Total_Price = x.Diff_Quantity * x.Price;
            <tr>
                <td>&nbsp;</td>
                <td>@x.Work_Person</td>
                <td>@x.Create_DT.ToString("yyyy-MM-dd")</td>
                <td><span class="MatSn_Font">@x.MatSn</span></td>
                <td>@x.MatBrand</td>
                <td>@x.Location</td>
                <td style="text-align:right;">@x.Old_Quantity.ToString("N0")</td>
                <td style="text-align:right;">@x.New_Quantity.ToString("N0")</td>
                <td style="text-align:right;">@x.Diff_Quantity.ToString("N0")</td>
                <td style="text-align:right;">@x.Total_Price.ToString("N4")</td>
                @if (U.RoleTitle == User_RoleTitle_Emun.公司经理.ToString() || U.RoleTitle == User_RoleTitle_Emun.仓管主管.ToString() || U.RoleTitle == User_RoleTitle_Emun.系统管理员.ToString())
                {
                    <td style="text-align:center">
                        @if (x.Status == WMS_Profit_Loss_Status_Enum.未确定.ToString())
                        {
                            <button type="button" onclick="Confirm_Record('@x.Line_ID')" class="btn btn-primary btn-xs">确认</button>
                        }
                        else
                        {
                            <button type="button" disabled class="btn btn-primary btn-xs">确认</button>
                        }
                    </td>
                }

                <td>&nbsp;</td>
            </tr>
        }
    </tbody>
</table>

<div class="MyPageFoot">
    @Html.Raw(PageComponent.MyPageNumberList(new PagePar() { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalRecord = Model.TotalRecord, TotalPage = Model.TotalPage, PageSizeList = Model.PageSize.ToString() }))
    <script>
        function SubmitSelectIndex() {
            $("#PageIndex").val($("#FootPageIndexNo").val());
            $("#MyForm").submit();
        }
        function SubmitPageIndex(PageIndex) {
            $("#PageIndex").val(PageIndex);
            $("#MyForm").submit();
        }
    </script>
</div>

<script>
    $(document).ready(function () {
        $('#DataTable').dataTable({
            searching: false,
            paging: false,
            info: false,
            scrollY: FixHeightValue_DataTable(),
            scrollX: true,
            language: {
                url: "/Scripts/dataTables/Localisation/Chinese.json"
            }
        });
    });

    $('.Time_Select').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        format: "yyyy-mm-dd",
        todayHighlight: 1,
        startView: 2,
        startDate: "2018-01-01",
        minView: 2,
        forceParse: 0
    });

    function Confirm_Record(Line_ID) {
        DisAndEnabledBtn(1);
        if (confirm("确认生成此纪录？") == false) {
            DisAndEnabledBtn(0);
            return false;
        }

        $.post("/WMS_Out_Stocktaking/WMS_Profit_Or_Loss_Other_Confirm_Post/" + Line_ID, function (result) {
            if (result == "") {
                ReloadPage();
            } else {
                alert(result);
            }
        });
    }

</script>



